openapi: 3.0.0

################################################################################
#                              API Information                                 #
################################################################################
info:
  version: 6.6.49
  title: CityPay Payment API
  description: |

    Welcome to the CityPay API, a robust HTTP API payment solution designed for seamless server-to-server 
    transactional processing. Our API facilitates a wide array of payment operations, catering to diverse business needs. 
    Whether you're integrating Internet payments, handling Mail Order/Telephone Order (MOTO) transactions, managing 
    Subscriptions with Recurring and Continuous Authority payments, or navigating the complexities of 3-D Secure 
    authentication, our API is equipped to support your requirements. Additionally, we offer functionalities for 
    Authorisation, Refunding, Pre-Authorisation, Cancellation/Voids, and Completion processing, alongside the capability 
    for tokenised payments.

    ## Compliance and Security Overview
    <aside class="notice">
      Ensuring the security of payment transactions and compliance with industry standards is paramount. Our API is 
      designed with stringent security measures and compliance protocols to safeguard sensitive information and meet 
      the rigorous requirements of Visa, MasterCard, and the PCI Security Standards Council.
    </aside>
    
    ### Key Compliance and Security Measures

    * **TLS Encryption**: All data transmissions must utilise TLS version 1.2 or higher, employing [strong cryptography](#enabled-tls-ciphers). Our infrastructure strictly enforces this requirement to maintain the integrity and confidentiality of data in transit. We conduct regular scans and assessments of our TLS endpoints to identify and mitigate vulnerabilities.
    * **Data Storage Prohibitions**: Storing sensitive cardholder data (CHD), such as the card security code (CSC) or primary account number (PAN), is strictly prohibited. Our API is designed to minimize your exposure to sensitive data, thereby reducing your compliance burden.
    * **Data Masking**: For consumer protection and compliance, full card numbers must not be displayed on receipts or any customer-facing materials. Our API automatically masks PANs, displaying only the last four digits to facilitate safe receipt generation.
    * **Network Scans**: If your application is web-based, regular scans of your hosting environment are mandatory to identify and rectify potential vulnerabilities. This proactive measure is crucial for maintaining a secure and compliant online presence.
    * **PCI Compliance**: Adherence to PCI DSS standards is not optional; it's a requirement for operating securely and legally in the payments ecosystem. For detailed information on compliance requirements and resources, please visit the PCI Security Standards Council website [https://www.pcisecuritystandards.org/](https://www.pcisecuritystandards.org/).
    * **Request Validation**: Our API includes mechanisms to verify the legitimacy of each request, ensuring it pertains to a valid account and originates from a trusted source. We leverage remote IP address verification alongside sophisticated application firewall technologies to thwart a wide array of common security threats.

    ## Getting Started
    Before integrating with the CityPay API, ensure your application and development practices align with the outlined compliance and security measures. This preparatory step is crucial for a smooth integration process and the long-term success of your payment processing operations.
    
    For further details on API endpoints, request/response formats, and code examples, proceed to the subsequent sections of our documentation. Our aim is to provide you with all the necessary tools and information to integrate our payment processing capabilities seamlessly into your application.
    
    Thank you for choosing CityPay API. We look forward to supporting your payment processing needs with our secure, compliant, and versatile API solution.


  contact:
    name: CityPay Support
    url: https://www.citypay.com/contacts/
    email: support@citypay.com

# during dev, should point to your local machine
servers:
- url: https://api.citypay.com
  description: Production processing endpoint
- url: https://sandbox.citypay.com
  description: Testing service returning test results for all transactions

tags:
  - name: Authorisation and Payment Api
    description: |
      The Payment Processing API is designed for MOTO (Mail Order/Telephone Order), e-commerce, and continuous authority 
      transactions. It incorporates advanced fraud and risk assessments, 3D Secure authentication flows, and transaction 
      querying capabilities to streamline your payment operations securely.
      
      
      ### Understanding the Authorisation Process
      
      The authorisation process is a critical component in payment processing, enabling standard transaction authorisation
      based on the parameters provided in its request. The CityPay gateway facilitates this by routing your transaction
      through to an Acquiring bank and to the appropriate card scheme, such as Visa, MasterCard or American Express.
      
      Our API is optimized for server environments that process transactions in real-time. It supports various transaction types, including:
      
      - E-commerce
      - Mail order and telephone order
      - Customer present transactions (keyed entry)
      - Continuous authority and pre-authorisation
      
      We tailor your account with specific acquirer configurations to ensure smooth transactions through our gateway.
      
      Different transaction environments may require specific data elements. Our API is designed to be flexible, accommodating these various requirements with the support of our dedicated integration team.
      
      ### E-commerce workflows
      
      Our API simplifies 3D Secure integrations for e-commerce transactions, reducing the need for direct accreditation with Visa and MasterCard. This built-in mechanism manages authentication processes and enhances security by shifting potential liability from the merchant to the cardholder. The authentication produces a Cardholder Authentication Verification Value (CAVV) and an E-commerce Indicator (ECI) that are crucial for the transaction validation.
      
      CityPay supports 3DS version 2.2, aligned with EU regulations for Secure Customer Authentication (SCA), and is compatible with Verified by Visa, MasterCard Identity Check, and American Express SafeKey 2.2.
      
      #### Non-3D Secure Transactions
      
      ![3DSv2 Frctionless Flow](images/3dsv2-no3d.png)
      
      Some transactions may bypass 3D Secure processing due to authentication issues or deliberate "attempted" checks. These transactions will not qualify for a liability shift and could be declined.
      
      #### Frictionless 3D Secure
      
      ![3DSv2 Frctionless Flow](images/3dsv2-frictionless.png)
      
      For low-risk transactions, our API supports a frictionless 3D Secure process. It allows for authentication without disrupting the user experience, requiring no redirection or additional interaction from the cardholder.
      
      #### Challenged 3D Secure
      
      ![3DSv2 Frctionless Flow](images/3dsv2-challenge.png)
      
      Higher-risk transactions may be "challenged," requiring the cardholder to authenticate the transaction. In such cases,  
      the API will return a [request challenge](#requestchallenged) which will require your integration to forward the
      cardholder's browser to the given [ACS url](#acsurl). This should be performed by posting the [creq](#creq) value
      (the challenge request value).
      
      
      Once complete, the ACS will have already been in touch with our servers by sending us a result of the authentication
      known as `RReq`.
      
      
      To maintain session state, a parameter `threeDSSessionData` can be posted to the ACS url and will be returned alongside
      the `CRes` value. This will ensure that any controller code will be able to isolate state between calls. This field
      is to be used by your own systems rather than ours and may be any value which can uniquely identify your cardholder's
      session. As an option, we do provide a `threedserver_trans_id` value in the `RequestChallenged` packet which can be used
      for the `threeDSSessionData` value as it is used to uniquely identify the 3D-Secure session.
      
      A common method of maintaining state is to provide a session related query string value in the `merchant_termurl` value
      (also known as the `notificationUrl`). For example providing a url of `https://mystore.com/checkout?token=asny2348w4561..`
      could return the user directly back to their session with your environment.
      
      Once you have received a `cres` post from the ACS authentication service, this should be POSTed to the [cres](#cres)
      endpoint to perform full authorisation processing.
      
      Please note that the CRes returned to us is purely a mechanism of acknowledging that transactions should be committed for
      authorisation. The ACS by this point will have sent us the verification value (CAVV) to perform a liability shift. The CRes
      value will be validated for receipt of the CAVV and subsequently may return response codes illustrating this.
      
      To forward the user to the ACS, we recommend a simple auto submit HTML form.
      
      > Simple auto submit HTML form
      
      ```html
      <html lang="en">
      	<head>
              <title>Forward to ACS</title>
      		<script type="text/javascript">
              function onLoadEvent() { 
                  document.acs.submit(); 
              }
              </script>
              <noscript>You will require JavaScript to be enabled to complete this transaction</noscript>
          </head>
          <body onload="onLoadEvent();">
              <form name="acs" action="{{ACSURL from Response}}" method="POST">
                  <input type="hidden" name="creq" value="{{CReq Packet from Response}}" />
                  <input type="hidden" name="threeDSSessionData" value="{{session-identifier}}" />
              </form>
          </body>
      </html>
      ```
      
      A full ACS test suite is available for 3DSv2 testing.
      
      ### Testing 3DSv2 Integrations
      
      The API includes a simulated 3DSv2 handler that executes various scenarios determined by the Card Security Code (CSC) value provided in the transaction request. This feature allows developers to test different outcomes and behaviors in a controlled environment.
      
      | CSC Value | Behaviour                                                             |
      |-----------|-----------------------------------------------------------------------|
      | 731       | Frictionless processing - Not authenticated                           |
      | 732       | Frictionless processing - Account verification count not be performed |        
      | 733       | Frictionless processing - Verification Rejected                       |        
      | 741       | Frictionless processing - Attempts Processing                         |        
      | 750       | Frictionless processing - Authenticated                               |        
      | 761       | Triggers an error message                                             |  
      | Any       | Challenge Request                                                     |
  - name: Batch Processing Api
    description: |
      Batch processing uses the Batch and Instalment Service (BIS) which allows for transaction processing against cardholder 
      accounts using a dynamic batch file. For merchants who process on their own schedules with dynamic or fixed amounts, 
      the service allows for the presentation of cardholder account references and transaction requirements to run as a 
      scheduled batch.
  - name: Card Holder Account Api
    description: |
      A cardholder account models a cardholder and can register 1 or more cards for tokenised charging. 
      
      The account offers a credential on file option to the CityPay gateway allowing for both cardholder initiated and 
      merchant initiated transaction processing.
      
      This can include unscheduled or scheduled transactions that can be requested through this API and include batch 
      processing options.
  - name: Direct Post Api
    description: |
      The Direct Post Method for e-commerce payment is generally used by merchants that require more control over their
      payment form “look and feel” and can understand and implement the extra PCI DSS security controls that are required to
      protect their systems.
      
      The Direct Post Method uses the merchant’s website to generate the shopping cart and payment web pages. The merchant’s
      payment form, loaded in the customer’s browser, sends the cardholder data directly to CityPay’s API, ensuring cardholder
      data is not stored, processed, or transmitted via the merchant systems. The payment form, however, is provided by the
      merchant. The merchant’s systems are therefore in scope for additional PCI DSS controls, which are necessary to protect
      the merchant website against malicious individuals changing the form and capturing cardholder data.
      
      ### Direct Post Flow
      
      #### Simple Authorisation Flow
      
      The merchant’s website creates the payment page.
      
      1. The customer’s browser displays the payment page and posts the cardholder data directly to CityPay as a url-encoded
         payment form.
      2. CityPay receives the cardholder data and sends it for online authorisation, handling any ThreeDSecure authorisation
         challenges
      3. The merchant receives a HTTP 303 redirect, containing the result of the transaction as query parameters
      
      <img src="images/direct-post-flow.png" width="600" />
      
      #### Tokenisation Authorisation Flow
      
      The merchant’s website creates the payment page.
      
      1. The customer’s browser displays the payment page and posts the cardholder data directly to CityPay as a url-encoded
         payment form.
      2. CityPay receives the cardholder data and processes any ThreeDSecure authorisation and challenges.
      3. The merchant receives a HTTP `303` redirect containing the card details tokenised for consequential processing
      4. Once final confirmation is agreed at checkout, the generated token is forward to CityPay for realtime authorisation.
         This may by using HTTP redirects in a direct manner, or via an api level call
      
      #### Handling Redirects
      
      The direct post method uses HTTP `303` redirects to return data to your system. A `303` redirect differs to conventional 301
      or `302` redirects by telling the browser to not resend data if refresh is pressed.
      
      Payments should be developed to cater for failure. Transactions may not complete authorisation at the challenge stage or
      decline either due to insufficient funds or transient network conditions. To ensure correct payment flow, the direct
      post API requires
      
      1. a `redirectSuccess` url. This is used to forward the result of authorisation.
      2. a `redirectFailure` url. This is used to forward any errors that are due to invalid requests or payment failures.
      
      #### Domain Keys
      
      To allow for processing of transactions in a direct manner, CityPay provide domain keys. This value is provided on the
      initial direct post call and must be run on a pre-registered host. Our validation processes will check the `Origin` or
      `Referer`   HTTP headers to ensure that the domain keys are valid. A domain key can be registered for 1 or more domains.
  - name: Operational Functions Api
    description: Operations that are for operational purposes only such as checking connectivity to the API.
  - name: Paylink Api
    description: |
      CityPay Paylink makes online e-commerce easier to implement by providing a hosted form to handle the card payment 
      process directly with the cardholder's browser, allowing you to concentrate on your business whilst allowing CityPay 
      to manage the payment process on your behalf.
      
      1. Simplified payment solutions.
      2. payment processing is handled by our secure web servers adding security and confidence to your shoppers.
      3. 3D-Secure authentication is available within the application without any difficult MPI integration, allowing for immediate Verified by Visa and MasterCard SecureCode processing.
      4. customisation may be performed on the secure payment form.
      5. significantly reduced technical and financial overheads associated with software implementation and PCI compliance.
      6. reduced time-to-market.
  - name: Reporting Api
    description: Reporting functions that return data based on payment processing services.
  - name: Web Hooks
    description: 

#--------------------------------------------------------------------------------
#                                    Paths                                     
#--------------------------------------------------------------------------------

paths:
  /direct/auth: 
    post: 
      summary: Direct Post Auth Request
      tags: 
        - Direct Post Api
      operationId: DirectPostAuthRequest
      description: |
        Used to initiate a direct post request transaction flow.
      security: 
      - cp-api-key: []
      - cp-domain-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/DirectPostRequest'
          application/x-www-form-urlencoded: 
            schema: 
              $ref: '#/components/schemas/DirectPostRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/DirectPostRequest'
      responses: 
        200: 
          description: A result of a successful tokenisation or authorisation process if called via an XHR method.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
            application/xml: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        303: 
          description: Redirect. A result of a successful tokenisation or authorisation process, redirecting to the success URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        307: 
          description: Redirect. A result of a non-successful tokenisation or authorisation process, redirecting to the failure URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
        401: 
          description: Unauthorized. No domain key has been provided and is required for this operation.
        403: 
          description: Forbidden. The domain key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        406: 
          description: Not Acceptable. Should the incoming data not be validly determined.
        412: 
          description: Bad Request. Should the incoming data not be validly determined and an error code results.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. Server Error. The server was unable to complete the request.

  /direct/cres/auth/{uuid}: 
    post: 
      summary: Handles a CRes response from ACS, returning back the result of authorisation
      tags: 
        - Direct Post Api
      operationId: DirectCResAuthRequest
      parameters: 
        - name: uuid
          in: path
          required: true
          description: An identifier used to track the CReq/CRes cycle.
          schema: 
            type: string
      description: |
        Used to post from an ACS during a ThreeDSecure direct flow process. The endpoint requires a valid `threeDSSessionData`
        value which defines the unique transaction through its workflow. This endpoint may be used by merchants wishing to
        perform a `Direct Post` integration who wish to handle the challenge flow themselves.
      requestBody: 
        required: true
        content: 
          application/x-www-form-urlencoded: 
            schema: 
              $ref: '#/components/schemas/CResDirect'
      responses: 
        200: 
          description: A result of a successful tokenisation or authorisation process if called via an XHR method.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
            application/xml: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        303: 
          description: Redirect. A result of a successful tokenisation or authorisation process, redirecting to the success URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        307: 
          description: Redirect. A result of a non-successful tokenisation or authorisation process, redirecting to the failure URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
        401: 
          description: Unauthorized. No domain key has been provided and is required for this operation.
        403: 
          description: Forbidden. The domain key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        406: 
          description: Not Acceptable. Should the incoming data not be validly determined.
        412: 
          description: Bad Request. Should the incoming data not be validly determined and an error code results.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. Server Error. The server was unable to complete the request.

  /direct/cres/tokenise/{uuid}: 
    post: 
      summary: Handles a CRes response from ACS, returning back a token for future authorisation
      tags: 
        - Direct Post Api
      operationId: DirectCResTokeniseRequest
      parameters: 
        - name: uuid
          in: path
          required: true
          description: An identifier used to track the CReq/CRes cycle.
          schema: 
            type: string
      description: |
        Used to post from an ACS during a ThreeDSecure direct flow process. The endpoint requires a valid `threeDSSessionData`
        value which defines the unique transaction through its workflow. This endpoint may be used by merchants wishing to
        perform a `Direct Post` integration who wish to handle the challenge flow themselves.
      requestBody: 
        required: true
        content: 
          application/x-www-form-urlencoded: 
            schema: 
              $ref: '#/components/schemas/CResDirect'
      responses: 
        200: 
          description: A result of a successful tokenisation or authorisation process if called via an XHR method.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/TokenisationResponseModel'
            application/xml: 
              schema: 
                $ref: '#/components/schemas/TokenisationResponseModel'
        303: 
          description: Redirect. A result of a successful tokenisation or authorisation process, redirecting to the success URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/TokenisationResponseModel'
        307: 
          description: Redirect. A result of a non-successful tokenisation or authorisation process, redirecting to the failure URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
        401: 
          description: Unauthorized. No domain key has been provided and is required for this operation.
        403: 
          description: Forbidden. The domain key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        406: 
          description: Not Acceptable. Should the incoming data not be validly determined.
        412: 
          description: Bad Request. Should the incoming data not be validly determined and an error code results.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. Server Error. The server was unable to complete the request.

  /direct/token: 
    post: 
      summary: Direct Post Token Request
      tags: 
        - Direct Post Api
      operationId: TokenRequest
      description: |
        Perform a request for authorisation for a previously generated token. This flow will return an authorisation
        response stating that the transaction was approved or declined.
      security: 
      - cp-api-key: []
      - cp-domain-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/DirectTokenAuthRequest'
          application/x-www-form-urlencoded: 
            schema: 
              $ref: '#/components/schemas/DirectTokenAuthRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/DirectTokenAuthRequest'
      responses: 
        200: 
          description: A result of an authorisation process if called via an XHR method.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
            application/xml: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        303: 
          description: Redirect. A result of a successful tokenisation or authorisation process, redirecting to the success URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        307: 
          description: Redirect. A result of a non-successful tokenisation or authorisation process, redirecting to the failure URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
        401: 
          description: Unauthorized. No domain key has been provided and is required for this operation.
        403: 
          description: Forbidden. The domain key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        406: 
          description: Not Acceptable. Should the incoming data not be validly determined.
        412: 
          description: Bad Request. Should the incoming data not be validly determined and an error code results.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /direct/tokenise: 
    post: 
      summary: Direct Post Tokenise Request
      tags: 
        - Direct Post Api
      operationId: DirectPostTokeniseRequest
      description: |
        Used to initiate a direct post request transaction flow.
      security: 
      - cp-api-key: []
      - cp-domain-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/DirectPostRequest'
          application/x-www-form-urlencoded: 
            schema: 
              $ref: '#/components/schemas/DirectPostRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/DirectPostRequest'
      responses: 
        200: 
          description: A result of a successful tokenisation or authorisation process if called via an XHR method.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
            application/xml: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        303: 
          description: Redirect. A result of a successful tokenisation or authorisation process, redirecting to the success URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        307: 
          description: Redirect. A result of a non-successful tokenisation or authorisation process, redirecting to the failure URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
        401: 
          description: Unauthorized. No domain key has been provided and is required for this operation.
        403: 
          description: Forbidden. The domain key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        406: 
          description: Not Acceptable. Should the incoming data not be validly determined.
        412: 
          description: Bad Request. Should the incoming data not be validly determined and an error code results.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. Server Error. The server was unable to complete the request.

  /dk/check: 
    post: 
      summary: Domain Key Check Request
      tags: 
        - Operational Functions Api
      operationId: DomainKeyCheckRequest
      description: |
        Checks the contents of a `domain key`. Can be used for operational processes to ensure that the properties of a 
        domain key meet their expectations.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/DomainKeyCheckRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/DomainKeyCheckRequest'
      responses: 
        200: 
          description: A checked domain key.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/DomainKeyResponse'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/DomainKeyResponse'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /dk/gen: 
    post: 
      summary: Domain Key Generation Request
      tags: 
        - Operational Functions Api
      operationId: DomainKeyGenRequest
      description: |
        Generates a domain key based on the permissions of the calling `api-key`. Domain keys can be used in _Direct Post_ and
        `XHR` calls to the API services.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/DomainKeyRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/DomainKeyRequest'
      responses: 
        200: 
          description: A generated domain key.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/DomainKeyResponse'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/DomainKeyResponse'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /paylink/bill-payment: 
    post: 
      summary: Create Bill Payment Paylink Token
      tags: 
        - Paylink Api
      operationId: TokenCreateBillPaymentRequest
      description: |
        CityPay Paylink supports invoice and bill payment services by allowing merchants to raise an invoice in their systems and
        associate the invoice with a Paylink checkout token. CityPay will co-ordinate the checkout flow in relationship with
        your customer. Our bill payment solution may be used to streamline the payment flow with cardholders to allow your
        invoice to be paid promptly and via multiple payment channels such as Card Payment, Apple Pay or Google Pay.
        
        The bill payment service allows
        
        1. setting up notification paths to an end customer, such as SMS or Email
        2. enabling attachments to be included with Paylink tokens
        3. produce chaser notifications for unpaid invoices
        4. provide callbacks for notification of the payment of an invoice
        5. support part payments against an invoice
        6. support of field guards to protect the payment screen
        7. support of status reporting on tokens
        8. URL short codes for SMS notifications
        
        <img src="images/merchant-BPS-workflow.png" alt="Paylink BPSv2 Overview" width="50%"/> 
        
        
        ### Notification Paths
        
        Notification paths can be provided which identify the channels for communication of the invoice availability.
        Up to 3 notification paths may be provided per request.
        
        Each notification uses a template to generate the body of the message. This allows for variable text to be sent out and
        customised for each call.
        
        SMS messages use URL Short Codes (USC) as a payment link to the invoice payment page. This allows for a standard payment
        URL to be shortened for optimised usage in SMS. For instance a URL of `https://checkout.citypay.com/PL1234/s348yb8yna4a48n2f8nq2f3msgyng-psn348ynaw8ynaw/en`
        becomes `citypay.com/Za48na3x`. Each USC is unique however it is a requirement that each USC generated is protected
        with Field Guards to ensure that sensitive data (such as customer contact details and GDPR) is protected.
        
        To send a notification path, append a `notification-path` property to the request.
        
        ```json
         {
          "sms_notification_path": {
              "to": "+441534884000"
          },
          "email_notification_path": {
              "to": ["help-desk@citypay.com"],
              "cc": ["third-party@citypay.com"],
              "reply": ["help@my-company.com"]
          }
        }
        ```
        
        Notification paths trigger a number of events which are stored as part of the timeline of events of a Paylink token
        
        - `BillPaymentSmsNotificationQueued` - identifies when an SMS notification has been queued for delivery
        - `BillPaymentSmsNotificationSent` - identifies when an SMS notification has been sent to the upstream network
        - `BillPaymentSmsNotificationDelivered` - identifies when an SMS notification has been delivered as notified by the upstream network
        - `BillPaymentSmsNotificationUndelivered` - identifies when an SMS notification has undelivered notification is provided by the upstream network
        - `BillPaymentSmsNotificationFailure` - identifies when an SMS notification has failed
        - `BillPaymentEmailNotificationQueued` -  identifies when an email notification has been queued for delivery
        - `BillPaymentEmailNotificationSent` -  identifies when an email notification has been accepted by our SMS forwarder
        - `BillPaymentEmailNotificationFailure` - identifies when an email notification has failed delivery
        
        
        #### SMS Notification Path
        
        SMS originated from a CityPay pool of numbers and by default only sends to country codes where the service is registered.
        SMSs may contain a From field which is configured as part of you onboarding and have a name associated to identify the service
        origin. For example if your business is titled `Health Surgery Ltd` the SMS may be sent to originate from `Health Surgery`. 
        
        SMS is also configured for a "polite mode". This mode ensures that SMSs aren't sent in the middle of the night when backend
        services ordinarily run. SMSs will be queued until the time range is deemed as polite. Normally this is between 8am and 9pm.
        
        | Field    | Type     | Usage    | Description                                                                                     |
        |----------|----------|----------|-------------------------------------------------------------------------------------------------|
        | template | string   | Reserved | An optional template name to use a template other than the default.                             |
        | to       | string   | Reserved | The phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format to send the message to. |
        
        #### Email Notification Paths
        
        | Field    | Type     | Usage    | Description                                                                                     |
        |----------|----------|----------|-------------------------------------------------------------------------------------------------|
        | template | string   | Reserved | An optional template name to use a template other than the default.                             |
        | to       | string[] | Required | An array of email addresses to be used for delivery. A maximum of 5 addresses can be added.     |
        | cc       | string[] | Required | An array of email addresses to be used for cc delivery. A maximum of 5 addresses can be added.  |
        | bcc      | string[] | Required | An array of email addresses to be used for bcc delivery. A maximum of 5 addresses can be added. |
        | reply_to | string[] | Required | An array of email addresses to be used for the Reply-To header of an email.     |
        
        
        ### Field Guards
        
        To ensure that invoices are paid by the intended recipient, Paylink supports the addition of Field Guards.
        
        A Field Guard is an intended field which is to be used as a form of guarded authentication. More than 1 field can be
        requested.
        
        <img src="images/paylink-field-guards.png" alt="Paylink Field Guards" width="50%"/>
        
        To determine the source value of the field, each field name is searched in the order of
        
        - identifier
        - cardholder data such as name
        - custom parameters
        - pass through data
        
        If no field values are found, the token request returns a D041 validation error.
        
        #### Authentication and Validation
        
        When values are entered by the user, resultant comparisons are performed by
        
        1. Transliteration of both the source value and entered value. For example, names with accents (e.g. é will become e)
        2. Only Alphanumeric values are retained any whitespace or special characters are ignored
        3. Case is ignored
        
        Should all values match, the user is authenticated and can continue to the payment form rendered by the Paylink server.
        
        On successful login, an event will be added to include that the access guard validated access.
        
        #### Access-Key
        
        To ensure that a user does not need to re-enter these values multiple times, a cookie is pushed to the user’s
        browser with an access-key digest value. This value will be presented to the server on each refresh therefore
        allowing the guard to accept the call. Each value is uniquely stored per merchant account and cannot be shared cross
        merchant. The lifetime of the cookie is set to 24 hours.
        
        #### Brute Force Prevention
        
        To prevent multiple calls hitting the server, attempting a brute force attack, the login process
        
        1. is fronted by a contemporary web application firewall
        2. creates an event for each token when access was denied
        3. should the number of failed events breach more than 5 in 30 minutes, the token is locked for an hour
        4. should the number of events breach more than 20 the token is fully locked
        
        ### Attachments
        
        Attachments can be included in the request in 2 ways
        
        1. Via a data element direct in the request
        2. Via a URL upload to a provided pre-signed URL
        
        The decision of which option is dependent on the size of the attachments. Should the attachment size be greater than
        32kb a URL upload is required. Small attachments can be included in the JSON request. This is to prevent our web
        firewall from blocking your request and to also ensure efficiency of larger file uploads.
        
        There is a maximum of 3 attachments that can be added to a request.
        
        ```json
            [{
              "filename": "invoice1.pdf",
              "mime-type": "application/pdf"
            },{
              "filename": "invoice2.pdf",
              "data": "b4sE64Enc0dEd...=",
              "mime-type": "application/pdf"
            }]
        ```
        
        | Field     | Type   | Usage    | Description                                                                                                                                          |
        |-----------|--------|----------|------------------------------------------------------------------------------------------------------------------------------------------------------|
        | filename  | string | Required | The name of the attachment normally taken from the filename. You should not include the filename path as appropriate                                 |
        | data      | string | Optional | base64 encoding of the file if less than 32kb in size                                                                                                |
        | mime-type | string | Required | The mime type of the attachment as defined in [RFC 9110](https://www.rfc-editor.org/rfc/rfc9110.html). Currently only `application/pdf` is supported |
        
        
        #### Attachment Result
        
        A result of an attachment specifies whether the attachment was successfully added or whether a further upload is requried
        
        | Field  | Type   | Usage    | Description                                                                                                                                       |
        |--------|--------|----------|---------------------------------------------------------------------------------------------------------------------------------------------------|
        | result | string | Required | `OK` should the file have uploaded or `UPLOAD` if the file is required to be uploaded.                                                            |
        | name   | string | Required | The filename that was specified in the upload process                                                                                             |
        | url    | string | Optional | Should an upload be required, this URL is available for an upload to be issued. The URL is only available for uploads for 24 hours from creation. |
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/PaylinkBillPaymentTokenRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/PaylinkBillPaymentTokenRequest'
      responses: 
        200: 
          description: Response defining the result of the token request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/PaylinkTokenCreated'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/PaylinkTokenCreated'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /paylink/create: 
    post: 
      summary: Create Paylink Token
      tags: 
        - Paylink Api
      operationId: TokenCreateRequest
      description: Creates a Paylink token from the CityPay API.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/PaylinkTokenRequestModel'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/PaylinkTokenRequestModel'
      responses: 
        200: 
          description: Response defining the result of the token request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/PaylinkTokenCreated'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/PaylinkTokenCreated'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /paylink/token/changes: 
    post: 
      summary: Paylink Token Audit
      tags: 
        - Paylink Api
      operationId: TokenChangesRequest
      description: Allows for the changes to a pre-existing token.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/PaylinkTokenStatusChangeRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/PaylinkTokenStatusChangeRequest'
      responses: 
        200: 
          description: Changes from tokens actioned after the pivotal date provided in the request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/PaylinkTokenStatusChangeResponse'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/PaylinkTokenStatusChangeResponse'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /paylink/{token}/adjustment: 
    post: 
      summary: Paylink Token Adjustment
      tags: 
        - Paylink Api
      operationId: TokenAdjustmentRequest
      parameters: 
        - name: token
          in: path
          required: true
          description: The token returned by the create token process.
          schema: 
            type: string
      description: |
        Adjusts a TokenRequest's amount value when for instance 
        
        1. a Token is created and the shopping cart is updated
        2. an invoice is adjusted either due to part payment or due to increased incurred costs.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/PaylinkAdjustmentRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/PaylinkAdjustmentRequest'
      responses: 
        200: 
          description: Response defining the result of the token request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /paylink/{token}/cancel: 
    put: 
      summary: Cancel a Paylink Token
      tags: 
        - Paylink Api
      operationId: TokenCancelRequest
      parameters: 
        - name: token
          in: path
          required: true
          description: The token returned by the create token process.
          schema: 
            type: string
      description: Marks a Paylink Token as cancelled. This cancels the Token for any future request for processing.
      security: 
      - cp-api-key: []
      responses: 
        200: 
          description: Confirms that the token was marked as cancelled.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /paylink/{token}/close: 
    put: 
      summary: Close Paylink Token
      tags: 
        - Paylink Api
      operationId: TokenCloseRequest
      parameters: 
        - name: token
          in: path
          required: true
          description: The token returned by the create token process.
          schema: 
            type: string
      description: |
        Marks a Paylink Token as closed. This closes the Token for any future action and the Token will not appear in any status
        request calls.
      security: 
      - cp-api-key: []
      responses: 
        200: 
          description: Confirms that the token was marked for closure.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /paylink/{token}/purge-attachments: 
    put: 
      summary: Purges any attachments for a Paylink Token
      tags: 
        - Paylink Api
      operationId: TokenPurgeAttachmentsRequest
      parameters: 
        - name: token
          in: path
          required: true
          description: The token returned by the create token process.
          schema: 
            type: string
      description: Purges any attachments for a token for GDPR or DP reasons.
      security: 
      - cp-api-key: []
      responses: 
        200: 
          description: Confirms that the attachments either did not exist or were purged.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /paylink/{token}/reconciled: 
    put: 
      summary: Reconcile Paylink Token
      tags: 
        - Paylink Api
      operationId: TokenReconciledRequest
      parameters: 
        - name: token
          in: path
          required: true
          description: The token returned by the create token process.
          schema: 
            type: string
      description: Marks a Paylink Token as reconciled when reconciliation is performed on the merchant's side.
      security: 
      - cp-api-key: []
      responses: 
        200: 
          description: Confirms that the token was marked as reconciled.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /paylink/{token}/reopen: 
    put: 
      summary: Reopen Paylink Token
      tags: 
        - Paylink Api
      operationId: TokenReopenRequest
      parameters: 
        - name: token
          in: path
          required: true
          description: The token returned by the create token process.
          schema: 
            type: string
      description: Allows for a Paylink Token to be reopened if a Token has been previously closed and payment has not yet been made.
      security: 
      - cp-api-key: []
      responses: 
        200: 
          description: Confirms that the token was reopened.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /paylink/{token}/resend-notification: 
    post: 
      summary: Resend a notification for Paylink Token
      tags: 
        - Paylink Api
      operationId: TokenResendNotificationRequest
      parameters: 
        - name: token
          in: path
          required: true
          description: The token returned by the create token process.
          schema: 
            type: string
      description: Resend a notification for Paylink Token.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/PaylinkResendNotificationRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/PaylinkResendNotificationRequest'
      responses: 
        200: 
          description: Confirms that the notification was sent.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /paylink/{token}/status: 
    get: 
      summary: Paylink Token Status
      tags: 
        - Paylink Api
      operationId: TokenStatusRequest
      parameters: 
        - name: token
          in: path
          required: true
          description: The token returned by the create token process.
          schema: 
            type: string
      description: Obtains the full status of a given Paylink Token.
      security: 
      - cp-api-key: []
      responses: 
        200: 
          description: The current status of the token.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/PaylinkTokenStatus'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/PaylinkTokenStatus'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/account-exists/{accountid}: 
    get: 
      summary: Account Exists
      tags: 
        - Card Holder Account Api
      operationId: AccountExistsRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
      description: |
        Checks that an account exists and is active by providing the account id as a url parameter.
      security: 
      - cp-api-key: []
      responses: 
        200: 
          description: A response model determining whether the account exists, if exists is true, a last modified date of the account is also provided.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Exists'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Exists'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/account/create: 
    post: 
      summary: Account Create
      tags: 
        - Card Holder Account Api
      operationId: AccountCreate
      description: Creates a new card holder account and initialises the account ready for adding cards.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/AccountCreate'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/AccountCreate'
      responses: 
        200: 
          description: Provides an initialised account.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/account/{accountid}: 
    get: 
      summary: Account Retrieval
      tags: 
        - Card Holder Account Api
      operationId: AccountRetrieveRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
      description: |
        Allows for the retrieval of a card holder account for the given `id`. Should duplicate accounts exist
        for the same `id`, the first account created with that `id` will be returned.
        
        The account can be used for tokenisation processing by listing all cards assigned to the account.
        The returned cards will include all `active`, `inactive` and `expired` cards. This can be used to 
        enable a card holder to view their wallet and make constructive choices on which card to use.
      security: 
      - cp-api-key: []
      responses: 
        200: 
          description: A card holder account that matches the account id provided in the request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.
    delete: 
      summary: Account Deletion
      tags: 
        - Card Holder Account Api
      operationId: AccountDeleteRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
      description: |
        Allows for the deletion of an account. The account will marked for deletion and subsequent purging. No further
        transactions will be alowed to be processed or actioned against this account.
      security: 
      - cp-api-key: []
      responses: 
        200: 
          description: An acknowledgment code of `001` that the card holder account has been marked for deletion.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/account/{accountid}/card/{cardId}: 
    delete: 
      summary: Card Deletion
      tags: 
        - Card Holder Account Api
      operationId: AccountCardDeleteRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
        - name: cardId
          in: path
          required: true
          description: The id of the card that is presented by a call to retrieve a card holder account.
          schema: 
            type: string
        - name: force
          in: query
          required: false
          description: Requests that the item is forced immediately.
          schema: 
            type: boolean
      description: |
        Deletes a card from the account. The card will be marked for deletion before a subsequent
        purge will clear the card permanently.
      security: 
      - cp-api-key: []
      responses: 
        200: 
          description: Acknowledges the card has been requested for deletion. A response code of `001` is returned if the account is available for deletion otherwise an error code is returned.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/account/{accountid}/card/{cardId}/status: 
    post: 
      summary: Card Status
      tags: 
        - Card Holder Account Api
      operationId: AccountCardStatusRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
        - name: cardId
          in: path
          required: true
          description: The id of the card that is presented by a call to retrieve a card holder account.
          schema: 
            type: string
      description: |
        Updates the status of a card for processing. The following values are available
        
        | Status | Description | 
        |--------|-------------|
        | Active | The card is active for processing and can be used for charging against with a valid token |
        | Inactive | The card is inactive for processing and cannot be used for processing, it will require reactivation before being used to charge |
        | Expired | The card has expired either due to the expiry date no longer being valid or due to a replacement card being issued |
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/CardStatus'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/CardStatus'
      responses: 
        200: 
          description: Acknowledges the card status has changed, returning a response code of `001` for a valid change or `000` for a non valid change.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/account/{accountid}/contact: 
    post: 
      summary: Contact Details Update
      tags: 
        - Card Holder Account Api
      operationId: AccountChangeContactRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
      description: Allows for the ability to change the contact details for an account.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/ContactDetails'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/ContactDetails'
      responses: 
        200: 
          description: A revised account with the new details set.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/account/{accountid}/register: 
    post: 
      summary: Card Registration
      tags: 
        - Card Holder Account Api
      operationId: AccountCardRegisterRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
      description: |
        Allows for a card to be registered for the account. The card will be added for future 
        processing and will be available as a tokenised value for future processing.
        
        The card will be validated for
        
        0. Being a valid card number (luhn check)
        0. Having a valid expiry date
        0. Being a valid bin value.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/RegisterCard'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/RegisterCard'
      responses: 
        200: 
          description: A successfully registered card provides a reload of the account including the new card.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/account/{accountid}/status: 
    post: 
      summary: Account Status
      tags: 
        - Card Holder Account Api
      operationId: AccountStatusRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
      description: |
        Updates the status of an account. An account can have the following statuses applied
        
        | Status | Description |
        |--------|-------------|
        | Active | The account is active for processing |
        | Disabled | The account has been disabled and cannot be used for processing. The account will require reactivation to continue procesing |
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/AccountStatus'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/AccountStatus'
      responses: 
        200: 
          description: An acknowledgment that the card holder account status has been updated.</br></br>A response code of `001` is returned if the request was accepted or no change required.</br></br>A response code of `000` is returned if the request contains invalid data.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/acl/check: 
    post: 
      summary: ACL Check Request
      tags: 
        - Operational Functions Api
      operationId: AclCheckRequest
      description: |
        Allows the checking of IP addresses against configured ACLs. Requests can perform a lookup of addresses in subnets and
        services such as AWS or Azure to check that those addresses are listed in the ACLs.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/AclCheckRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/AclCheckRequest'
      responses: 
        200: 
          description: Response to the ACL Check request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/AclCheckResponseModel'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/AclCheckResponseModel'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/authorise: 
    post: 
      summary: Authorisation
      tags: 
        - Authorisation and Payment Api
      operationId: AuthorisationRequest
      description: Performs a request for authorisation for a card payment request.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/AuthRequest'
            examples: 
              example1: 
                summary: Basic capture call for a merchant with a given identifier
                externalValue: 'AuthorisationRequest-example1.json'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/AuthRequest'
            examples: 
              example1: 
                summary: Basic capture call for a merchant with a given identifier
                externalValue: 'AuthorisationRequest-example1.xml'
      responses: 
        200: 
          description: A decision made by the result of processing.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Decision'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Decision'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/batch/process: 
    post: 
      summary: Batch Process Request
      tags: 
        - Batch Processing Api
      operationId: BatchProcessRequest
      description: |
        A batch process request is used to start the batch process workflow by uploading batch
        data and initialising a new batch for processing. Once validated the batch will be queued
        for processing and further updates can be received by a subsequent call to retrieve the batch
        status.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/ProcessBatchRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/ProcessBatchRequest'
      responses: 
        200: 
          description: Request to process a batch provided in the request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/ProcessBatchResponse'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/ProcessBatchResponse'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/batch/retrieve: 
    post: 
      summary: Batch Retrieve Request
      tags: 
        - Batch Processing Api
      operationId: BatchRetrieveRequest
      description: Obtains a batch and installment (BIS) report for a given batch id.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/BatchReportRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/BatchReportRequest'
      responses: 
        200: 
          description: The report for a given batch.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/BatchReportResponseModel'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/BatchReportResponseModel'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/batch/status: 
    post: 
      summary: Check Batch Status
      tags: 
        - Batch Processing Api
      operationId: CheckBatchStatusRequest
      description: The operation is used to retrieve the status of a batch process.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/CheckBatchStatus'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/CheckBatchStatus'
      responses: 
        200: 
          description: The status of batches provided in the request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/CheckBatchStatusResponse'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/CheckBatchStatusResponse'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/bin: 
    post: 
      summary: Bin Lookup
      tags: 
        - Authorisation and Payment Api
      operationId: BinRangeLookupRequest
      description: |
        A bin range lookup service can be used to check what a card is, as seen by the gateway. Each card number's 
        leading digits help to identify who
        
        0. the card scheme is such as Visa, MasterCard or American Express 
        1. the issuer of the card, such as the bank
        2. it's country of origin
        3. it's currency of origin
        
        Our gateway has 450 thousand possible bin ranges and uses a number of algorithms to determine the likelihood of the bin
        data. The request requires a bin value of between 6 and 12 digits. The more digits provided may ensure a more accurate
        result.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/BinLookup'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/BinLookup'
      responses: 
        200: 
          description: A result of the bin lookup request returning a bin object determined by the gateway service.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Bin'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Bin'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /v6/capture: 
    post: 
      summary: Capture
      tags: 
        - Authorisation and Payment Api
      operationId: CaptureRequest
      description: |
        _The capture process only applies to transactions which have been pre-authorised only._ 
        
        The capture process will ensure
        that a transaction will now settle. It is expected that a capture call will be provided within 3 days or
        a maximum of 7 days.
        
        A capture request is provided to confirm that you wish the transaction to be settled. This request can
        contain a final amount for the transaction which is different to the original authorisation amount. This
        may be useful in a delayed system process such as waiting for stock to be ordered, confirmed, or services
        provided before the final cost is known.
        
        When a transaction is completed, a new authorisation code may be created and a new confirmation
        can be sent online to the acquiring bank.
        
        Once the transaction has been processed. A standard [`Acknowledgement`](#acknowledgement) will be returned,
        outlining the result of the transaction. On a successful completion process, the transaction will
        be available for the settlement and completed at the end of the day.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/CaptureRequest'
            examples: 
              example3: 
                summary: Capture call for a merchant with identifier and airline data once a ticket has been issued
                externalValue: 'CaptureRequest-example3.json'
              example1: 
                summary: Basic capture call for a merchant with a given identifier
                externalValue: 'CaptureRequest-example1.json'
              example2: 
                summary: Basic capture call for a merchant with a transno and final amount
                externalValue: 'CaptureRequest-example2.json'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/CaptureRequest'
            examples: 
              example3: 
[...]
