openapi: 3.0.0

################################################################################
#                              API Information                                 #
################################################################################
info:
  version: 6.2.20
  title: CityPay Payment API
  description: |

    This CityPay API is a HTTP RESTful payment API used for direct server to server transactional processing. It
    provides a number of payment mechanisms including: Internet, MOTO, Continuous Authority transaction processing,
    3-D Secure decision handling using RFA Secure, Authorisation, Refunding, Pre-Authorisation, Cancellation/Voids and
    Completion processing. The API is also capable of tokinsed payments using Card Holder Accounts.

    ## Compliance and Security
    <aside class="notice">
      Before we begin a reminder that your application will need to adhere to PCI-DSS standards to operate safely
      and to meet requirements set out by Visa and MasterCard and the PCI Security Standards Council including:
    </aside>

    * Data must be collected using TLS version 1.2 using [strong cryptography](#enabled-tls-ciphers). We will not accept calls to our API at
      lower grade encryption levels. We regularly scan our TLS endpoints for vulnerabilities and perform TLS assessments
      as part of our compliance program.
    * The application must not store sensitive card holder data (CHD) such as the card security code (CSC) or
      primary access number (PAN)
    * The application must not display the full card number on receipts, it is recommended to mask the PAN
      and show the last 4 digits. The API will return this for you for ease of receipt creation
    * If you are developing a website, you will be required to perform regular scans on the network where you host the
      application to meet your compliance obligations
    * You will be required to be PCI Compliant and the application must adhere to the security standard. Further information
      is available from [https://www.pcisecuritystandards.org/](https://www.pcisecuritystandards.org/)
    * The API verifies that the request is for a valid account and originates from a trusted source using the remote IP
      address. Our application firewalls analyse data that may be an attempt to break a large number of security common
      security vulnerabilities..


  contact:
    name: CityPay Support
    url: https://citypay.com/customer-centre/technical-support.html
    email: support@citypay.com

# during dev, should point to your local machine
servers:
- url: https://api.citypay.com/v6
  description: Production processing endpoint
- url: https://sandbox.citypay.com/v6
  description: Testing service returning test results for all transactions

tags:
  - name: Batch Processing
    description: |
      Batch processing uses the Batch and Instalment Service (BIS) which allows for transaction processing against cardholder 
      accounts using a dynamic batch file. For merchants who process on schedules and dynamic amounts, the service allows for 
      the presentation of cardholder account references and transaction requirements to run as a scheduled batch.
  - name: Card Holder Account
    description: |
      A cardholder account models a cardholder and can register 1 or more cards for tokenised charging. 
      
      The account offers a credential on file option to the CityPay gateway allowing for both cardholder initiated and 
      merchant initiated transaction processing.
      
      This can include unscheduled or scheduled transactions that can be requested through this API and include batch 
      processing options.
  - name: Operational
    description: Operations that are for operational purposes only such as checking connectivity to the API.
  - name: Payment Processing
    description: |
      The Payment Processing API offers standard and enhanced payment processing for MOTO, e-commerce
       and continuous authority transactions that include fraud and risk checking, 3D-Secure flows 
       and payment querying.

#--------------------------------------------------------------------------------
#                                    Paths                                     
#--------------------------------------------------------------------------------

paths:
  /account/{accountid}/register: 
    post: 
      summary: Card Registration
      tags: 
        - Card Holder Account
      operationId: AccountCardRegisterRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
      description: |
        Allows for a card to be registered for the account. The card will be added for future 
        processing and will be available as a tokenised value for future processing.
        
        The card will be validated for
        
        0. Being a valid card number (luhn check)
        0. Having a valid expiry date
        0. Being a valid bin value.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/RegisterCard'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/RegisterCard'
      responses: 
        200: 
          description: A successfully registered card provides a reload of the account including the new card.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /acl/check: 
    post: 
      summary: ACL Check Request
      tags: 
        - Operational
      operationId: AclCheckRequest
      description: |
        Allows the checking of IP addresses against configured ACLs. Requests can perform a lookup of addresses in subnets and
        services such as AWS or Azure to check that those addresses are listed in the ACLs.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/AclCheckRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/AclCheckRequest'
      responses: 
        200: 
          description: Response to the ACL Check request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/AclCheckResponseModel'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/AclCheckResponseModel'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /account/{accountid}: 
    get: 
      summary: Account Retrieval
      tags: 
        - Card Holder Account
      operationId: AccountRetrieveRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
      description: |
        Allows for the retrieval of a card holder account for the given `id`. Should duplicate accounts exist
        for the same `id`, the first account created with that `id` will be returned.
        
        The account can be used for tokenisation processing by listing all cards assigned to the account.
        The returned cards will include all `active`, `inactive` and `expired` cards. This can be used to 
        enable a card holder to view their wallet and make constructive choices on which card to use.
      responses: 
        200: 
          description: A card holder account that matches the account id provided in the request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
    delete: 
      summary: Account Deletion
      tags: 
        - Card Holder Account
      operationId: AccountDeleteRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
      description: |
        Allows for the deletion of an account. The account will marked for deletion and subsequent purging. No further
        transactions will be alowed to be processed or actioned against this account.
      responses: 
        200: 
          description: An acknowledgment code of `001` that the card holder account has been marked for deletion.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /ping: 
    post: 
      summary: Ping Request
      tags: 
        - Operational
      operationId: PingRequest
      description: |
        A ping request which performs a connection and authentication test to the CityPay API server. The request
        will return a standard Acknowledgement with a response code `044` to signify a successful
        ping.
        
        The ping call is useful to confirm that you will be able to access 
        the API from behind any firewalls and that the permission
        model is granting access from your source.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/Ping'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/Ping'
      responses: 
        200: 
          description: A result of the ping request, returning on 044 response code on successful receipt of the ping request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /capture: 
    post: 
      summary: Capture
      tags: 
        - Payment Processing
      operationId: CaptureRequest
      description: |
        _The capture process only applies to transactions which have been pre-authorised only._ 
        
        The capture process will ensure
        that a transaction will now settle. It is expected that a capture call will be provided within 3 days or
        a maximum of 7 days.
        
        A capture request is provided to confirm that you wish the transaction to be settled. This request can
        contain a final amount for the transaction which is different to the original authorisation amount. This
        may be useful in a delayed system process such as waiting for stock to be ordered, confirmed, or services
        provided before the final cost is known.
        
        When a transaction is completed, a new authorisation code may be created and a new confirmation
        can be sent online to the acquiring bank.
        
        Once the transaction has been processed. A standard [`Acknowledgement`](#acknowledgement) will be returned,
        outlining the result of the transaction. On a successful completion process, the transaction will
        be available for the settlement and completed at the end of the day.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/CaptureRequest'
            examples: 
              example3: 
                summary: Capture call for a merchant with identifier and airline data once a ticket has been issued
                externalValue: 'CaptureRequest-example3.json'
              example2: 
                summary: Basic capture call for a merchant with a transno and final amount
                externalValue: 'CaptureRequest-example2.json'
              example1: 
                summary: Basic capture call for a merchant with a given identifier
                externalValue: 'CaptureRequest-example1.json'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/CaptureRequest'
            examples: 
              example3: 
                summary: Capture call for a merchant with identifier and airline data once a ticket has been issued
                externalValue: 'CaptureRequest-example3.xml'
              example2: 
                summary: Basic capture call for a merchant with a transno and final amount
                externalValue: 'CaptureRequest-example2.xml'
              example1: 
                summary: Basic capture call for a merchant with a given identifier
                externalValue: 'CaptureRequest-example1.xml'
      responses: 
        200: 
          description: A result and acknowledgement of the capture request. The response will return a `000/001` response on a successful capture otherwise an error code response explaining the error.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /batch/process: 
    post: 
      summary: Batch Process Request
      tags: 
        - Batch Processing
      operationId: BatchProcessRequest
      description: |
        A batch process request is used to start the batch process workflow by uploading batch
        data and initialising a new batch for processing. Once validated the batch will be queued
        for processing and further updates can be received by a subsequent call to retrieve the batch
        status.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/ProcessBatchRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/ProcessBatchRequest'
      responses: 
        200: 
          description: Request to process a batch provided in the request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/ProcessBatchResponse'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/ProcessBatchResponse'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /account-exists/{accountid}: 
    get: 
      summary: Account Exists
      tags: 
        - Card Holder Account
      operationId: AccountExistsRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
      description: |
        Checks that an account exists and is active by providing the account id as a url parameter 
        Checks that an account exists and is active by providing the account id as a url parameter.
      responses: 
        200: 
          description: A response model determining whether the account exists, if exists is true, a last modified date of the account is also provided.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Exists'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Exists'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /bin: 
    post: 
      summary: Bin Lookup
      tags: 
        - Payment Processing
      operationId: BinRangeLookupRequest
      description: |
        A bin range lookup service can be used to check what a card is, as seen by the gateway. Each card number's 
        leading digits help to identify who
        
        0. the card scheme is such as Visa, MasterCard or American Express 
        1. the issuer of the card, such as the bank
        2. it's country of origin
        3. it's currency of origin
        
        Our gateway has 450 thousand possible bin ranges and uses a number of algorithms to determine the likelihood of the bin
        data. The request requires a bin value of between 6 and 12 digits. The more digits provided may ensure a more accurate
        result.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/BinLookup'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/BinLookup'
      responses: 
        200: 
          description: A result of the bin lookup request returning a bin object determined by the gateway service.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Bin'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Bin'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /account/{accountid}/contact: 
    post: 
      summary: Contact Details Update
      tags: 
        - Card Holder Account
      operationId: AccountChangeContactRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
      description: Allows for the ability to change the contact details for an account.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/ContactDetails'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/ContactDetails'
      responses: 
        200: 
          description: A revised account with the new details set.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /account/{accountid}/card/{cardId}/status: 
    post: 
      summary: Card Status
      tags: 
        - Card Holder Account
      operationId: AccountCardStatusRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
        - name: cardId
          in: path
          required: true
          description: The id of the card that is presented by a call to retrieve a card holder account.
          schema: 
            type: string
      description: |
        Updates the status of a card for processing. The following values are available
        
        | Status | Description | 
        |--------|-------------|
        | Active | The card is active for processing and can be used for charging against with a valid token |
        | Inactive | The card is inactive for processing and cannot be used for processing, it will require reactivation before being used to charge |
        | Expired | The card has expired either due to the expiry date no longer being valid or due to a replacement card being issued |
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/CardStatus'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/CardStatus'
      responses: 
        200: 
          description: </br>Acknowledges the card status has changed, returning a response code of `001` for a valid change or `000` for a non valid change.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /account/create: 
    post: 
      summary: Account Create
      tags: 
        - Card Holder Account
      operationId: AccountCreate
      description: Creates a new card holder account and initialises the account ready for adding cards.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/AccountCreate'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/AccountCreate'
      responses: 
        200: 
          description: Provides an initialised account.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/CardHolderAccount'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /refund: 
    post: 
      summary: Refund
      tags: 
        - Payment Processing
      operationId: RefundRequest
      description: |
        A refund request which allows for the refunding of a previous transaction up 
        and to the amount of the original sale. A refund will be performed against the 
        original card used to process the transaction.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/RefundRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/RefundRequest'
      responses: 
        200: 
          description: A result of the refund of sale processing.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /void: 
    post: 
      summary: Void
      tags: 
        - Payment Processing
      operationId: VoidRequest
      description: |
        _The void process generally applies to transactions which have been pre-authorised only however voids can occur 
        on the same day if performed before batching and settlement._ 
        
        The void process will ensure that a transaction will now settle. It is expected that a void call will be 
        provided on the same day before batching and settlement or within 3 days or within a maximum of 7 days.
        
        Once the transaction has been processed as a void, an [`Acknowledgement`](#acknowledgement) will be returned,
        outlining the result of the transaction.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/VoidRequest'
            examples: 
              example2: 
                summary: Basic capture call for a merchant with a transno and final amount
                externalValue: 'VoidRequest-example2.json'
              example1: 
                summary: Basic capture call for a merchant with a given identifier
                externalValue: 'VoidRequest-example1.json'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/VoidRequest'
            examples: 
              example2: 
                summary: Basic capture call for a merchant with a transno and final amount
                externalValue: 'VoidRequest-example2.xml'
              example1: 
                summary: Basic capture call for a merchant with a given identifier
                externalValue: 'VoidRequest-example1.xml'
      responses: 
        200: 
          description: </br>A result and acknowledgement of the void request, returning an `080/003` response code on successful void/cancellation of the transaction.</br></br>If an error occurs an error code will be returned explaining the failure.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /account/{accountid}/status: 
    post: 
      summary: Account Status
      tags: 
        - Card Holder Account
      operationId: AccountStatusRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
      description: |
        Updates the status of an account. An account can have the following statuses applied
        
        | Status | Description |
        |--------|-------------|
        | Active | The account is active for processing |
        | Disabled | The account has been disabled and cannot be used for processing. The account will require reactivation to continue procesing |
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/AccountStatus'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/AccountStatus'
      responses: 
        200: 
          description: An acknowledgment that the card holder account status has been updated.</br></br>A response code of `001` is returned if the request was accepted or no change required.</br></br>A response code of `000` is returned if the request contains invalid data.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /account/{accountid}/card/{cardId}: 
    delete: 
      summary: Card Deletion
      tags: 
        - Card Holder Account
      operationId: AccountCardDeleteRequest
      parameters: 
        - name: accountid
          in: path
          required: true
          description: The account id that refers to the customer's account no. This value will have been provided when setting up the card holder account.
          schema: 
            type: string
        - name: cardId
          in: path
          required: true
          description: The id of the card that is presented by a call to retrieve a card holder account.
          schema: 
            type: string
      description: |
        Deletes a card from the account. The card will be marked for deletion before a subsequent
        purge will clear the card permanently.
      responses: 
        200: 
          description: Acknowledges the card has been requested for deletion. A response code of `001` is returned if the account is available for deletion otherwise an error code is returned.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Acknowledgement'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /cres: 
    post: 
      summary: CRes
      tags: 
        - Payment Processing
      operationId: CResRequest
      description: |
        The CRes request performs authorisation processing once a challenge request has been completed
        with an Authentication Server (ACS). This challenge response contains confirmation that will
        allow the API systems to return an authorisation response based on the result. Our systems will 
        know out of band via an `RReq` call by the ACS to notify us if the liability shift has been issued.
        
        Any call to the CRes operation will require a previous authorisation request and cannot be called 
        on its own without a previous [request challenge](#requestchallenged) being obtained.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/CResAuthRequest'
            examples: 
              example1: 
                summary: PaRes example request
                externalValue: 'CResRequest-example1.json'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/CResAuthRequest'
            examples: 
              example1: 
                summary: PaRes example request
                externalValue: 'CResRequest-example1.xml'
      responses: 
        200: 
          description: A result of processing the 3DSv2 authorisation data.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /authorise: 
    post: 
      summary: Authorisation
      tags: 
        - Payment Processing
      operationId: AuthorisationRequest
      description: |
        An authorisation process performs a standard transaction authorisation based on the provided parameters of its request.
        The CityPay gateway will route your transaction via an Acquiring bank for subsequent authorisation to the appropriate card 
        schemes such as Visa or MasterCard.
        
        The authorisation API should be used for server environments to process transactions on demand and in realtime. 
        
        The authorisation API can be used for multiple types of transactions including E-commerce, mail order, telephone order,
        customer present (keyed), continuous authority, pre-authorisation and others. CityPay will configure your account for 
        the appropriate coding and this will perform transparently by the gateway. 
        
        Data properties that are required, may depend on the environment you are conducting payment for. Our API aims to be
         flexible enough to cater for these structures. Our integration team will aid you in providing the necessary data to 
         transact. 
         
         
        ## E-commerce workflows
         
        For E-commerce transactions requiring 3DS, the API contains a fully accredited in built mechanism to handle authentication.
        
        The Api and gateway has been accredited extensively with both Acquirers and Card Schemes to simplify the nature of these calls
        into a simple structure for authentication, preventing integrators from performing lengthy and a costly accreditations with
        Visa and MasterCard.
        
        3D-secure has been around for a number of years and aims to shift the liability of a transaction away from a merchant back
        to the card holder. A *liability shift* determines whether a card holder can charge back a transaction as unknown. Effectively
        the process asks for a card holder to authenticate the transaction prior to authorisation producing a Cardholder 
        verification value (CAVV) and ecommerce indicator (ECI) as evidence of authorisation.
        
        3DS version 1 has now been replaced by 3DS version 2 to provide secure customer authentication (SCA) in line with EU regulation.
        3DSv2 is being phased out and any accounts using version 1 of the protocol is expected to be migrated by March 2022. 
        
        Any new integrations should only consider 3DSv2 flows. 
        
        ### 3DSv2
        
        ```json
        { 
          "RequestChallenged": {
            "acsurl": "https://bank.com/3DS/ACS",
            "creq": "SXQgd2FzIHRoZSBiZXN0IG9mIHRpbWVzLCBpdCB3YXMgdGhlIHdvcnN00...",
            "merchantid": 12345,
            "transno": 1,
            "threedserver_trans_id": "d652d8d2-d74a-4264-a051-a7862b10d5d6"
          }               
        }
        ```
        
        ```xml
        <RequestChallenged>
          <acsurl>https://bank.com/3DS/ACS</acsurl>
          <creq>SXQgd2FzIHRoZSBiZXN0IG9mIHRpbWVzLCBpdCB3YXMgdGhlIHdvcnN00...</creq>
          <merchantid>12345</merchantid>
          <transno>1</transno>
          <threedserver_trans_id>d652d8d2-d74a-4264-a051-a7862b10d5d6</threedserver_trans_id>
        </RequestChallenged>
        ```
        
        CityPay support 3DS version 2.1 for Verified by Visa, MasterCard Identity Check and American Express SafeKey 2.1. Version
        2.2 is currently in development however this will be a seamless upgrade for all integrations.
        
        #### 3-D Secure - None
        
        ![3DSv2 Frctionless Flow](/images/3dsv2-no3d.png)
        
        A basic flow may involve no 3-D secure processing. This could happen if there is no ability to perform authentication.
        An enrollment check may apply an "attempted" resolution to processing. In this instance a transaction may not meet any
        liability shift. A transaction may result in a decline due to this. We are also able to prevent from transactions being
        presented for authorisation if this occurs. 
        
        #### 3-D Secure - Frictionless
        
        ![3DSv2 Frctionless Flow](/images/3dsv2-frictionless.png)
        
        E-commerce transactions supporting 3DSv2 can benefit from seamlessly authenticated transactions which may perform a 
        "frictionless" flow. This method will authenticate low risk transactions with minimal impact to a 
        standard authorisation flow. Our API simply performs this on behalf of you the developer, the merchant and cardholder.
        
        No redirection occurs and hence the flow is called frictionless and will appear as though a simple transaction 
        authorisation has occurred.
        
        #### 3-D Secure - Challenge
        
        ![3DSv2 Frctionless Flow](/images/3dsv2-challenge.png)
        
        A transaction that is deemed as higher risk my be "challenged". In this instance, the API will return a
        [request challenge](#requestchallenged) which will require your integration to forward the cardholder's browser to the 
        given [ACS url](#acsurl). This should be performed by posting the [creq](#creq) value (the challenge request value). 
        
        Once complete, the ACS will have already been in touch with our servers by sending us a result of the authentication
        known as `RReq`.
        
        To maintain session state, a parameter `threeDSSessionData` can be posted to the ACS url and will be returned alongside 
        the `CRes` value. This will ensure that any controller code will be able to isolate state between calls. This field
        is to be used by your own systems rather than ours and may be any value which can uniquely identify your cardholder's
        session. As an option, we do provide a `threedserver_trans_id` value in the `RequestChallenged` packet which can be used
        for the `threeDSSessionData` value as it is used to uniquely identify the 3D-Secure session. 
        
        A common method of maintaining state is to provide a session related query string value in the `merchant_termurl` value
        (also known as the `notificationUrl`). For example providing a url of `https://mystore.com/checkout?token=asny2348w4561..`
        could return the user directly back to their session with your environment.
        
        Once you have received a `cres` post from the ACS authentication service, this should be POSTed to the [cres](#cres) 
        endpoint to perform full authorisation processing. 
        
        Please note that the CRes returned to us is purely a mechanism of acknowledging that transactions should be committed for
        authorisation. The ACS by this point will have sent us the verification value (CAVV) to perform a liability shift. The CRes
        value will be validated for receipt of the CAVV and subsequently may return response codes illustrating this. 
        
        To forward the user to the ACS, we recommend a simple auto submit HTML form.
        
        > Simple auto submit HTML form
        
        ```html
        <html lang="en">
        	<head>
                <title>Forward to ACS</title>
        		<script type="text/javascript">
                function onLoadEvent() { 
                    document.acs.submit(); 
                }
                </script>
                <noscript>You will require JavaScript to be enabled to complete this transaction</noscript>
            </head>
            <body onload="onLoadEvent();">
                <form name="acs" action="{{ACSURL from Response}}" method="POST">
                    <input type="hidden" name="creq" value="{{CReq Packet from Response}}" />
                    <input type="hidden" name="threeDSSessionData" value="{{session-identifier}}" />
                </form>
            </body>
        </html>
        ```
        
        A full ACS test suite is available for 3DSv2 testing.
                
        ### Testing 3DSv2 Integrations
        
        The API provides a mock 3dsV2 handler which performs a number of scenarios based on the value of the CSC in the request.
        
        | CSC Value | Behaviour |
        |-----------|-----------|
        | 731       | Frictionless processing - Not authenticated |
        | 732       | Frictionless processing - Account verification count not be performed |        
        | 733       | Frictionless processing - Verification Rejected |        
        | 741       | Frictionless processing - Attempts Processing |        
        | 750       | Frictionless processing - Authenticated  |        
        | 761       | Triggers an error message |  
        | Any       | Challenge Request |       
        
        
        #### 3DSv1
        
        **Please note that 3DSv1 should now be considered as deprecated.**
        
        ```json
        { 
          "AuthenticationRequired": {
            "acsurl": "https://bank.com/3DS/ACS",
            "pareq": "SXQgd2FzIHRoZSBiZXN0IG9mIHRpbWVzLCBpdCB3YXMgdGhlIHdvcnN00...",
            "md": "WQgZXZlcnl0aGluZyBiZW"
          }               
        }
        ```
        
        ```xml
        <AuthenticationRequired>
         <acsurl>https://bank.com/3DS/ACS</acsurl>
         <pareq>SXQgd2FzIHRoZSBiZXN0IG9mIHRpbWVzLCBpdCB3YXMgdGhlIHdvcnN00...</pareq>
         <md>WQgZXZlcnl0aGluZyBiZW</md>
        </AuthenticationRequired>
        ```
        
        For E-commerce transactions requiring 3DSv1, the API contains a built in MPI which will be called to check whether the
        card is participating in 3DSv1 with Verified by Visa or MasterCard SecureCode. We only support Amex SafeKey with 3DSv2. Should the card be enrolled, a payer
        request (PAReq) value will be created and returned back as an [authentication required](#authenticationrequired) response object.
        
        Your system will need to process this authentication packet and forward the user's browser to an authentication server (ACS)
        to gain the user's authentication. Once complete, the ACS will produce a HTTP `POST` call back to the URL supplied in
        the authentication request as `merchant_termurl`. This URL should behave as a controller and handle the post data from the
        ACS and on a forked server to server HTTP request, forward this data to the [pares authentication url](#pares) for
        subsequent authorisation processing. You may prefer to provide a processing page whilst this is being processed.
        Processing with our systems should be relatively quick and be between 500ms - 3000ms however it is desirable to let
        the user see that something is happening rather than a pending browser.
        
        The main reason for ensuring that this controller is two fold:
        
        1. We are never in control of the user's browser in a server API call
        2. The controller is actioned on your site to ensure that any post actions from authorisation can be executed in real time
        
        To forward the user to the ACS, we recommend a simple auto submit HTML form.
        
        > Simple auto submit HTML form
        
        ```html
        <html lang="en">
        	<head>
                <title>Forward to ACS</title>
        		<script type="text/javascript">
                function onLoadEvent() { 
                    document.acs.submit(); 
                }
                </script>
                <noscript>You will require JavaScript to be enabled to complete this transaction</noscript>
            </head>
            <body onload="onLoadEvent();">
                <form name="acs" action="{{ACSURL from Response}}" method="POST">
                    <input type="hidden" name="PaReq" value="{{PaReq Packet from Response}}" />
                    <input type="hidden" name="TermUrl" value="{{Your Controller}}" />
                    <input type="hidden" name="MD" value="{{MD From Response}}" />
                </form>
            </body>
        </html>
        ```
        
        Please note that 3DSv1 is being phased out due to changes to strong customer authentication mechanisms. 3DSv2 addresses
        this and will solidify the authorisation and confirmation process.
        
        We provide a Test ACS for full 3DSv1 integration testing that simulates an ACS.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/AuthRequest'
            examples: 
              example1: 
                summary: Basic capture call for a merchant with a given identifier
                externalValue: 'AuthorisationRequest-example1.json'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/AuthRequest'
            examples: 
              example1: 
                summary: Basic capture call for a merchant with a given identifier
                externalValue: 'AuthorisationRequest-example1.xml'
      responses: 
        200: 
          description: A decision made by the result of processing.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Decision'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Decision'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /batch/retrieve: 
    post: 
      summary: BatchReportRequest
      tags: 
        - Batch Processing
      operationId: BatchReportRequest
      description: The operation is used to retrieve a report of the result of a batch process.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/BatchReportRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/BatchReportRequest'
      responses: 
        200: 
          description: The report for a given batch.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/BatchReportResponseModel'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/BatchReportResponseModel'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /retrieve: 
    post: 
      summary: Retrieval
      tags: 
        - Payment Processing
      operationId: RetrievalRequest
      description: |
        A retrieval request which allows an integration to obtain the result of a transaction processed
        in the last 90 days. The request allows for retrieval based on the identifier or transaction 
        number. 
        
        The process may return multiple results in particular where a transaction was processed multiple
        times against the same identifier. This can happen if errors were first received. The API therefore
        returns up to the first 5 transactions in the latest date time order.
        
        It is not intended for this operation to be a replacement for reporting and only allows for base transaction
        information to be returned.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/RetrieveRequest'
            examples: 
              example1: 
                summary: Basic retrieval call for a merchant with a given identifier
                externalValue: 'RetrievalRequest-example1.json'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/RetrieveRequest'
            examples: 
              example1: 
                summary: Basic retrieval call for a merchant with a given identifier
                externalValue: 'RetrievalRequest-example1.xml'
      responses: 
        200: 
          description: A result of the retrieval request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/AuthReferences'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/AuthReferences'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /charge: 
    post: 
      summary: Charge
      tags: 
        - Card Holder Account
      operationId: ChargeRequest
      description: |
        A charge process obtains an authorisation using a tokenised value which represents a stored card 
        on a card holder account. 
        A card must previously be registered by calling `/account-register-card` with the card details 
        or retrieved using `/account-retrieve`
        
        Tokens are generated whenever a previously registered list of cards are retrieved. Each token has, by design a 
        relatively short time to live of 30 minutes. This is both to safe guard the merchant and card holder from 
        replay attacks. Tokens are also restricted to your account, preventing malicious actors from stealing details
        for use elsewhere.  
        
        If a token is reused after it has expired it will be rejected and a new token will be required.
         
        Tokenisation can be used for
         
        - repeat authorisations on a previously stored card
        - easy authorisations just requiring CSC values to be entered
        - can be used for credential on file style payments
        - can require full 3-D Secure authentication to retain the liability shift
        - wallet style usage
         
        
        _Should an account be used with 3DSv2, the card holder name should also be stored alongside the card as this is a
        required field with both Visa and MasterCard for risk analysis._.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/ChargeRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/ChargeRequest'
      responses: 
        200: 
          description: A decision met by the result of the charge.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Decision'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Decision'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /merchants/{clientid}: 
    get: 
      summary: List Merchants Request
      tags: 
        - Operational
      operationId: ListMerchantsRequest
      parameters: 
        - name: clientid
          in: path
          required: true
          description: The client id to return merchants for, specifying "default" will use the value in your api key.
          schema: 
            type: string
      description: |
        An operational request to list current merchants for a client.
        
        ### Sorting
        
        Sorting can be performed by include a query parameter i.e. `/merchants/?sort=merchantid`
        
        Fields that can be sorted are `merchantid` or `name`.
      responses: 
        200: 
          description: A list of merchants that are configured against the client id.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/ListMerchantsResponse'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/ListMerchantsResponse'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /batch/status: 
    post: 
      summary: CheckBatchStatus
      tags: 
        - Batch Processing
      operationId: CheckBatchStatusRequest
      description: The operation is used to retrieve the status of a batch process.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/CheckBatchStatus'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/CheckBatchStatus'
      responses: 
        200: 
          description: The status of batches provided in the request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/CheckBatchStatusResponse'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/CheckBatchStatusResponse'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /pares: 
    post: 
      summary: PaRes
      tags: 
        - Payment Processing
      operationId: PaResRequest
      description: |
        The Payer Authentication Response (PaRes) is an operation after the result of authentication 
         being performed. The request uses an encoded packet of authentication data to 
        notify us of the completion of the liability shift. Once this value has been unpacked and its
        signature is checked, our systems will proceed to authorisation processing.  
        
        Any call to the PaRes operation will require a previous authorisation request and cannot be called 
        on its own without a previous [authentication required](#authenticationrequired)  being obtained.
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/PaResAuthRequest'
            examples: 
              example1: 
                summary: PaRes example request
                externalValue: 'PaResRequest-example1.json'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/PaResAuthRequest'
            examples: 
              example1: 
                summary: PaRes example request
                externalValue: 'PaResRequest-example1.xml'
      responses: 
        200: 
          description: A result of processing the 3DSv1 authorisation data.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'



#--------------------------------------------------------------------------------
#                              Components/Schemas                              
#--------------------------------------------------------------------------------

components:
  schemas:
    CardHolderAccount: 
      type: object
      required: 
        - account_id
        - contact
      properties: 
        account_id: 
          type: string
          minLength: 5
          maxLength: 50
          example: aaabbb-cccddd-eee
          description: |
            The account id of the card holder account provided by the merchant which uniquely identifies the account.
        cards: 
          type: array
          items:
            $ref: '#/components/schemas/Card'
        contact: 
          $ref: '#/components/schemas/ContactDetails'
          x-description: Contact details that refer to this account.
        date_created: 
          type: string
          format: date-time
          example: 2020-01-02T18:32:28Z
          description: The date and time the account was created.
        default_card_id: 
          type: string
          description: The id of the default card.
        default_card_index: 
          type: integer
          format: int32
          description: The index in the array of the default card.
        last_modified: 
          type: date-time
          example: 2020-01-02T18:32:28Z
          description: The date and time the account was last modified.
        status: 
          type: string
          description: |
            Defines the status of the account for processing valid values are
            
             - ACTIVE for active accounts that are able to process
            
             - DISABLED for accounts that are currently disabled for processing.
        unique_id: 
          type: string
          description: A unique id of the card holder account which uniquely identifies the stored account. This value is not searchable.
    AuthResponse: 
      type: object
      required: 
        - merchantid
        - result
        - result_code
        - result_message
      properties: 
        amount: 
          type: integer
          format: int32
          example: 3600
          description: The amount of the transaction processed.
        atrn: 
          type: string
          description: |
            A reference number provided by the acquirer for a transaction it can be used to cross reference transactions
            with an Acquirers reporting panel.
        atsd: 
          type: string
          description: Additional Transaction Security Data used for ecommerce transactions to decipher security capabilities and attempts against a transaction.
        authcode: 
          type: string
          example: 001245A
          description: |
            The authorisation code as returned by the card issuer or acquiring bank when a transaction has successfully
              been authorised. Authorisation codes contain alphanumeric values. Whilst the code confirms authorisation it
              should not be used to determine whether a transaction was successfully processed. For instance an auth code
              may be returned when a transaction has been subsequently declined due to a CSC mismatch.
        authen_result: 
          type: string
          description: |
            The result of any authentication using 3d_secure authorisation against ecommerce transactions. Values are:
            
            <table>
            <tr>
            <th>Value</th>
            <th>Description</th>
            </tr>
            <tr>
            <td>Y</td>
            <td>Authentication Successful. The Cardholder's password was successfully validated.</td>
            </tr>
            <tr>
            <td>N</td>
            <td>Authentication Failed. Customer failed or cancelled authentication, transaction denied.</td>
            </tr>
            <tr>
            <td>A</td>
            <td>Attempts Processing Performed Authentication could not be completed but a proof of authentication attempt (CAVV) was generated.</td>
            </tr>
            <tr>
            <td>U</td>
            <td>Authentication Could Not Be Performed Authentication could not be completed, due to technical or other problem.</td>
            </tr>
            </table>
        authorised: 
          type: boolean
          example: true
          description: |
            A boolean definition that indicates that the transaction was authorised. It will return false if the transaction
             was declined, rejected or cancelled due to CSC matching failures.
            
            Attention should be referenced to the AuthResult and Response code for accurate determination of the result.
        avs_result: 
          type: string
          description: |
            The AVS result codes determine the result of checking the AVS values within the
            Address Verification fraud system. If a transaction is declined due to the AVS code not matching,
            this value can help determine the reason for the decline.
            
            <table>
            <tr>
            <th>Code</th>
            <th>Description</th>
            </tr>
            <tr><td>Y</td><td>Address and 5 digit post code match</td></tr>
            <tr><td>M</td><td>Street address and Postal codes match for international transaction</td></tr>
            <tr><td>U</td><td>No AVS data available from issuer auth system</td></tr>
            <tr><td>A</td><td>Addres matches, post code does not</td></tr>
            <tr><td>I</td><td>Address information verified for international transaction</td></tr>
            <tr><td>Z</td><td>5 digit post code matches, Address does not</td></tr>
            <tr><td>W</td><td>9 digit post code matches, Address does not</td></tr>
            <tr><td>X</td><td>Postcode and address match</td></tr>
            <tr><td>B</td><td>Postal code not verified due to incompatible formats</td></tr>
            <tr><td>P</td><td>Postal codes match. Street address not verified due to to incompatible formats</td></tr>
            <tr><td>E</td><td>AVS Error</td></tr>
            <tr><td>C</td><td>Street address and Postal code not verified due to incompatible formats</td></tr>
            <tr><td>D</td><td>Street address and postal codes match</td></tr>
            <tr><td> </td><td>No information</td></tr>
            <tr><td>N</td><td>Neither postcode nor address match</td></tr>
            <tr><td>R</td><td>Retry, System unavailble or Timed Out</td></tr>
            <tr><td>S</td><td>AVS Service not supported by issuer or processor</td></tr>
            <tr><td>G</td><td>Issuer does not participate in AVS</td></tr>
            </table>
        bin_commercial: 
          type: boolean
          description: Determines whether the bin range was found to be a commercial or business card.
        bin_debit: 
          type: boolean
          description: Determines whether the bin range was found to be a debit card. If false the card was considered as a credit card.
        bin_description: 
          type: string
          example: Platinum Card
          description: A description of the bin range found for the card.
        cavv: 
          type: string
          description: |
            The cardholder authentication verification value which can be returned for verification purposes of the authenticated
             transaction for dispute realisation.
        context: 
          type: string
          example: aspiu352908ns47n343598bads
          description: The context which processed the transaction, can be used for support purposes to trace transactions.
        csc_result: 
          type: string
          description: |
            The CSC rseult codes determine the result of checking the provided CSC value within the
            Card Security Code fraud system. If a transaction is declined due to the CSC code not matching,
            this value can help determine the reason for the decline.
            
            <table>
            <tr>
            <th>Code</th>
            <th>Description</th>
            </tr>
            <tr><td> </td><td>No information</td></tr>
            <tr><td>M</td><td>Card verification data matches</td></tr>
            <tr><td>N</td><td>Card verification data was checked but did not match</td></tr>
            <tr><td>P</td><td>Card verification was not processed</td></tr>
            <tr><td>S</td><td>The card verification data should be on the card but the merchant indicates that it is not</td></tr>
            <tr><td>U</td><td>The card issuer is not certified</td></tr>
            </table>
        currency: 
          type: string
          example: GBP
          description: The currency the transaction was processed in. This is an `ISO4217` alpha currency value.
        datetime: 
          type: string
          format: date-time
          example: 2020-01-02T18:32:28Z
          description: |
            The UTC date time of the transaction in ISO data time format.
        eci: 
          type: string
          description: |
            An Electronic Commerce Indicator (ECI) used to identify the result of authentication using 3DSecure.
        identifier: 
          type: string
          example: 95b857a1-5955-4b86-963c-5a6dbfc4fb95
          description: The identifier provided within the request.
        live: 
          type: boolean
          example: true
          description: Used to identify that a transaction was processed on a live authorisation platform.
        maskedpan: 
          type: string
          example: 4***********0002
          description: |
            A masked value of the card number used for processing displaying limited values that can be used on a receipt.
        merchantid: 
          type: integer
          format: int32
          example: 11223344
          description: The merchant id that processed this transaction.
        result: 
          type: integer
          format: int32
          example: 1
          description: |
            An integer result that indicates the outcome of the transaction. The Code value below maps to the result value
            
            <table>
            <tr>
            <th>Code</th>
            <th>Abbrev</th>
            <th>Description</th>
            </tr>
            <tr><td>0</td><td>Declined</td><td>Declined</td></tr>
            <tr><td>1</td><td>Accepted</td><td>Accepted</td></tr>
            <tr><td>2</td><td>Rejected</td><td>Rejected</td></tr>
            <tr><td>3</td><td>Not Attempted</td><td>Not Attempted</td></tr>
            <tr><td>4</td><td>Referred</td><td>Referred</td></tr>
            <tr><td>5</td><td>PinRetry</td><td>Perform PIN Retry</td></tr>
            <tr><td>6</td><td>ForSigVer</td><td>Force Signature Verification</td></tr>
            <tr><td>7</td><td>Hold</td><td>Hold</td></tr>
            <tr><td>8</td><td>SecErr</td><td>Security Error</td></tr>
            <tr><td>9</td><td>CallAcq</td><td>Call Acquirer</td></tr>
            <tr><td>10</td><td>DNH</td><td>Do Not Honour</td></tr>
            <tr><td>11</td><td>RtnCrd</td><td>Retain Card</td></tr>
            <tr><td>12</td><td>ExprdCrd</td><td>Expired Card</td></tr>
            <tr><td>13</td><td>InvldCrd</td><td>Invalid Card No</td></tr>
            <tr><td>14</td><td>PinExcd</td><td>Pin Tries Exceeded</td></tr>
            <tr><td>15</td><td>PinInvld</td><td>Pin Invalid</td></tr>
            <tr><td>16</td><td>AuthReq</td><td>Authentication Required</td></tr>
            <tr><td>17</td><td>AuthenFail</td><td>Authentication Failed</td></tr>
            <tr><td>18</td><td>Verified</td><td>Card Verified</td></tr>
            <tr><td>19</td><td>Cancelled</td><td>Cancelled</td></tr>
            <tr><td>20</td><td>Un</td><td>Unknown</td></tr>
            </table>
        result_code: 
          type: string
          example: 000
          description: |
            The result code as defined in the Response Codes Reference for example 000 is an accepted live
            transaction whilst 001 is an accepted test transaction. Result codes identify the source of success and failure.
            
            Codes may start with an alpha character i.e. C001 indicating a type of error such as a card validation error.
        result_message: 
          type: string
          example: Accepted Transaction
          description: |
            The message regarding the result which provides further narrative to the result code.
        scheme: 
          type: string
          example: Visa
          description: |
            A name of the card scheme of the transaction that processed the transaction such as Visa or MasterCard.
        sha256: 
          type: string
          example: 
          description: |
            A SHA256 digest value of the transaction used to validate the response data
            The digest is calculated by concatenating
            
             * authcode
            
             * amount
            
             * response_code
            
             * merchant_id
            
             * trans_no
            
             * identifier
            
             * licence_key - which is not provided in the response.
        trans_status: 
          type: string
          description: |
            Used to identify the status of a transaction. The status is used to track a transaction through its life cycle.
            
            <table>
            <tr>
            <th>Id</th>
            <th>Description</th>
            </tr>
            <tr>
            <td>O</td>
            <td>Transaction is open for settlement</td>
            </tr>
            <tr>
            <td>A</td>
            <td>Transaction is assigned for settlement and can no longer be voided</td>
            </tr>
            <tr>
            <td>S</td>
            <td>Transaction has been settled</td>
            </tr>
            <tr>
            <td>D</td>
            <td>Transaction has been declined</td>
            </tr>
            <tr>
            <td>R</td>
            <td>Transaction has been rejected</td>
            </tr>
            <tr>
            <td>P</td>
            <td>Transaction has been authorised only and awaiting a capture. Used in pre-auth situations</td>
            </tr>
            <tr>
            <td>C</td>
            <td>Transaction has been cancelled</td>
            </tr>
            <tr>
            <td>E</td>
            <td>Transaction has expired</td>
            </tr>
            <tr>
            <td>I</td>
            <td>Transaction has been initialised but no action was able to be carried out</td>
            </tr>
            <tr>
            <td>H</td>
            <td>Transaction is awaiting authorisation</td>
            </tr>
            <tr>
            <td>.</td>
            <td>Transaction is on hold</td>
            </tr>
            <tr>
            <td>V</td>
            <td>Transaction has been verified</td>
            </tr>
            </table>
        transno: 
          type: integer
          format: int32
          example: 78416
          description: |
            The resulting transaction number, ordered incrementally from 1 for every merchant_id. The value will default to less than 1
            for transactions that do not have a transaction number issued.
    ChargeRequest: 
      type: object
      required: 
        - amount
        - identifier
        - merchantid
        - token
      properties: 
        amount: 
          type: integer
          format: int32
          minLength: 1
          maxLength: 12
          example: 3600
          description: |
            The amount to authorise in the lowest unit of currency with a variable length to a maximum of 12 digits.
            
            No decimal points are to be included and no divisional characters such as 1,024.
            
            The amount should be the total amount required for the transaction.
            
            For example with GBP £1,021.95 the amount value is 102195.
        avs_postcode_policy: 
          type: string
          description: |
            A policy value which determines whether an AVS postcode policy is enforced or bypassed.
            
            Values are
             `0` for the default policy (default value if not supplied). Your default values are determined by your account manager on setup of the account.
            
             `1` for an enforced policy. Transactions that are enforced will be rejected if the AVS postcode numeric value does not match.
            
             `2` to bypass. Transactions that are bypassed will be allowed through even if the postcode did not match.
            
             `3` to ignore. Transactions that are ignored will bypass the result and not send postcode details for authorisation.
        cardholder_agreement: 
          type: string
          maxLength: 1
          description: |
            Merchant-initiated transactions (MITs) are payments you trigger, where the cardholder has previously consented
            to you carrying out such payments. These may be scheduled (such as recurring payments and installments) or
            unscheduled (like account top-ups triggered by balance thresholds and no-show charges).
            
            Scheduled
            ---
            These are regular payments using stored card details, like installments or a monthly subscription fee.
            
            - `I` Instalment - A single purchase of goods or services billed to a cardholder in multiple transactions, over a period of time agreed by the cardholder and you.
            
            - `R` Recurring - Transactions processed at fixed, regular intervals not to exceed one year between transactions, representing an agreement between a cardholder and you to purchase goods or services provided over a period of time.
            
            Unscheduled
            ---
            These are payments using stored card details that do not occur on a regular schedule, like top-ups for a
            digital wallet triggered by the balance falling below a certain threshold.
            
            - `A` Reauthorisation - a purchase made after the original purchase. A common scenario is delayed/split shipments.
            
            - `C` Unscheduled Payment - A transaction using a stored credential for a fixed or variable amount that does not occur on a scheduled or regularly occurring transaction date. This includes account top-ups triggered by balance thresholds.
            
            - `D` Delayed Charge - A delayed charge is typically used in hotel, cruise lines and vehicle rental environments to perform a supplemental account charge after original services are rendered.
            
            - `L` Incremental - An incremental authorisation is typically found in hotel and car rental environments, where the cardholder has agreed to pay for any service incurred during the duration of the contract. An incremental authorisation is where you need to seek authorisation of further funds in addition to what you have originally requested. A common scenario is additional services charged to the contract, such as extending a stay in a hotel.
            
            - `S` Resubmission - When the original purchase occurred, but you were not able to get authorisation at the time the goods or services were provided. It should be only used where the goods or services have already been provided, but the authorisation request is declined for insufficient funds.
            
            - `X` No-show - A no-show is a transaction where you are enabled to charge for services which the cardholder entered into an agreement to purchase, but the cardholder did not meet the terms of the agreement.
        csc: 
          type: string
          minLength: 3
          maxLength: 4
          example: 012
          description: |
            The Card Security Code (CSC) (also known as CV2/CVV2) is normally found on the back of the card
            (American Express has it on the front). The value helps to identify posession of the card as it is not
            available within the chip or magnetic swipe.
            
            When forwarding the CSC, please ensure the value is a string as some values start with 0 and this will be stripped
            out by any integer parsing.
            
            The CSC number aids fraud prevention in Mail Order and Internet payments.
            
            Business rules are available on your account to identify whether to accept
            or decline transactions based on mismatched results of the CSC.
            
            The Payment Card Industry (PCI) requires that at no stage of a transaction should the CSC be stored.
            
            This applies to all entities handling card data.
            
            It should also not be used in any hashing process.
            
            CityPay do not store the value and have no method of retrieving the value once the transaction has been processed.
            For this reason, duplicate checking is unable to determine the CSC in its duplication check algorithm.
        csc_policy: 
          type: string
          description: |
            A policy value which determines whether a CSC policy is enforced or bypassed.
            
            Values are
             `0` for the default policy (default value if not supplied). Your default values are determined by your account manager on setup of the account.
            
             `1` for an enforced policy. Transactions that are enforced will be rejected if the CSC value does not match.
            
             `2` to bypass. Transactions that are bypassed will be allowed through even if the CSC did not match.
            
             `3` to ignore. Transactions that are ignored will bypass the result and not send the CSC details for authorisation.
        currency: 
          type: string
          minLength: 3
          maxLength: 3
          example: GBP
          description: The processing currency for the transaction. Will default to the merchant account currency.
        duplicate_policy: 
          type: string
          description: |
            A policy value which determines whether a duplication policy is enforced or bypassed. A duplication check has a window
            of time set against your account within which it can action. If a previous transaction with matching values occurred within
            the window, any subsequent transaction will result in a T001 result.
            
            Values are
             `0` for the default policy (default value if not supplied). Your default values are determined by your account manager on setup of the account.
            
             `1` for an enforced policy. Transactions that are enforced will be checked for duplication within the duplication window.
            
             `2` to bypass. Transactions that are bypassed will not be checked for duplication within the duplication window.
            
             `3` to ignore. Transactions that are ignored will have the same affect as bypass.
        identifier: 
          type: string
          minLength: 4
          maxLength: 50
          example: 95b857a1-5955-4b86-963c-5a6dbfc4fb95
          description: |
            The identifier of the transaction to process. The value should be a valid reference and may be used to perform
             post processing actions and to aid in reconciliation of transactions.
            
            The value should be a valid printable string with ASCII character ranges from 0x32 to 0x127.
            
            The identifier is recommended to be distinct for each transaction such as a [random unique identifier](https://en.wikipedia.org/wiki/Universally_unique_identifier)
            this will aid in ensuring each transaction is identifiable.
            
            When transactions are processed they are also checked for duplicate requests. Changing the identifier on a subsequent
            request will ensure that a transaction is considered as different.
        initiation: 
          type: string
          maxLength: 1
          description: |
            Transactions charged using the API are defined as:
            
            **Cardholder Initiated**: A _cardholder initiated transaction_ (CIT) is where the cardholder selects the
            card for use for a purchase using previously stored details. An example would be a customer buying an item from
            your website after being present with their saved card details at checkout.
            
            **Merchant Intiated**: A _merchant initiated transaction_ (MIT) is an authorisation initiated where you as the
             merchant submit a cardholders previously stored details without the cardholder's participation. An example would
             be a subscription to a membership scheme to debit their card monthly.
            
            MITs have different reasons such as reauthorisation, delayed, unscheduled, incremental, recurring, instalment, no-show or resubmission.
            
            The following values apply
            
             - `M` - specifies that the transaction is initiated by the merchant
            
             - `C` - specifies that the transaction is initiated by the cardholder
            
            Where transactions are merchant initiated, a valid cardholder agreement must be defined.
        match_avsa: 
          type: string
          description: |
            A policy value which determines whether an AVS address policy is enforced, bypassed or ignored.
            
            Values are
             `0` for the default policy (default value if not supplied). Your default values are determined by your account manager on setup of the account.
            
             `1` for an enforced policy. Transactions that are enforced will be rejected if the AVS address numeric value does not match.
            
             `2` to bypass. Transactions that are bypassed will be allowed through even if the address did not match.
            
             `3` to ignore. Transactions that are ignored will bypass the result and not send address numeric details for authorisation.
        merchantid: 
          type: integer
          format: int32
          example: 11223344
          description: Identifies the merchant account to perform processing for.
        threedsecure: 
          $ref: '#/components/schemas/ThreeDSecure'
          x-description: |
            ThreeDSecure element, providing values to enable full 3DS processing flows.
        token: 
          type: string
          format: base58
          example: ctPCAPyNyCkx3Ry8wGyv8khC3ch2hUSB3Db..Qzr
          description: |
            A tokenised form of a card that belongs to a card holder's account and that
            has been previously registered. The token is time based and will only be active for
            a short duration. The value is therefore designed not to be stored remotely for future
            use.
            
            
            Tokens will start with ct and are resiliently tamper proof using HMacSHA-256.
            No sensitive card data is stored internally within the token.
            
            
            Each card will contain a different token and the value may be different on any retrieval call.
            
            
            The value can be presented for payment as a selection value to an end user in a web application.
        trans_info: 
          type: string
          maxLength: 50
          description: Further information that can be added to the transaction will display in reporting. Can be used for flexible values such as operator id.
        trans_type: 
          type: string
          maxLength: 1
          description: The type of transaction being submitted. Normally this value is not required and your account manager may request that you set this field.
    AclCheckRequest: 
      type: object
      properties: 
        ip: 
          type: string
          format: ipv4
          example: 8.8.8.8
          description: An ip address to check for an ACL against. The address should be a publicly routable IPv4 address.
    ProcessBatchResponse: 
      type: object
      required: 
        - valid
      properties: 
        message: 
          type: string
          example: Approved 044332
          description: Information regarding the processing request.
        valid: 
          type: boolean
          example: true
          description: true if the request has been accepted for processing and is valid.
    RefundRequest: 
      type: object
      required: 
        - amount
        - identifier
        - merchantid
        - refund_ref
      properties: 
        amount: 
          type: integer
          format: int32
          minLength: 1
          maxLength: 12
          example: 3600
          description: |
            The amount to refund in the lowest unit of currency with a variable length to a maximum of 12 digits.
            
            The amount should be the total amount required to refund for the transaction up to the original processed amount.
            
            No decimal points are to be included and no divisional characters such as 1,024.
            
            For example with GBP £1,021.95 the amount value is 102195.
        identifier: 
          type: string
          minLength: 4
          maxLength: 50
          example: 95b857a1-5955-4b86-963c-5a6dbfc4fb95
          description: |
            The identifier of the refund to process. The value should be a valid reference and may be used to perform
             post processing actions and to aid in reconciliation of transactions.
            
            The value should be a valid printable string with ASCII character ranges from 0x32 to 0x127.
            
            The identifier is recommended to be distinct for each transaction such as a [random unique identifier](https://en.wikipedia.org/wiki/Universally_unique_identifier)
            this will aid in ensuring each transaction is identifiable.
            
            When transactions are processed they are also checked for duplicate requests. Changing the identifier on a subsequent
            request will ensure that a transaction is considered as different.
        merchantid: 
          type: integer
          format: int32
          example: 11223344
          description: Identifies the merchant account to perform the refund for.
        refund_ref: 
          type: integer
          format: int32
          example: 8322
          description: |
            A reference to the original transaction number that is wanting to be refunded. The original
             transaction must be on the same merchant id, previously authorised.
        trans_info: 
[...]
