openapi: 3.0.0

################################################################################
#                              API Information                                 #
################################################################################
info:
  version: 6.5.39
  title: CityPay Payment API
  description: |

    This CityPay API is a HTTP RESTful payment API used for direct server to server transactional processing. It
    provides a number of payment mechanisms including: Internet, MOTO, Continuous Authority transaction processing,
    3-D Secure decision handling using RFA Secure, Authorisation, Refunding, Pre-Authorisation, Cancellation/Voids and
    Completion processing. The API is also capable of tokinsed payments using Card Holder Accounts.

    ## Compliance and Security
    Your application will need to adhere to PCI-DSS standards to operate safely and to meet requirements set out by 
    Visa and MasterCard and the PCI Security Standards Council. These include

    * Data must be collected using TLS version 1.2 using [strong cryptography](#enabled-tls-ciphers). We will not accept calls to our API at
      lower grade encryption levels. We regularly scan our TLS endpoints for vulnerabilities and perform TLS assessments
      as part of our compliance program.
    * The application must not store sensitive card holder data (CHD) such as the card security code (CSC) or
      primary access number (PAN)
    * The application must not display the full card number on receipts, it is recommended to mask the PAN
      and show the last 4 digits. The API will return this for you for ease of receipt creation
    * If you are developing a website, you will be required to perform regular scans on the network where you host the
      application to meet your compliance obligations
    * You will be required to be PCI Compliant and the application must adhere to the security standard. Further information
      is available from [https://www.pcisecuritystandards.org/](https://www.pcisecuritystandards.org/)
    * The API verifies that the request is for a valid account and originates from a trusted source using the remote IP
      address. Our application firewalls analyse data that may be an attempt to break a large number of security common
      security vulnerabilities.


  contact:
    name: CityPay Support
    url: https://citypay.com/customer-centre/technical-support.html
    email: support@citypay.com

# during dev, should point to your local machine
servers:
- url: https://api.citypay.com
  description: Production processing endpoint
- url: https://sandbox.citypay.com
  description: Testing service returning test results for all transactions

tags:
  - name: Authorisation and Payment Api
    description: |
      The Payment Processing API offers standard and enhanced payment processing for MOTO, e-commerce
      and continuous authority transactions that include fraud and risk checking, 3D-Secure flows
      and payment querying.
  - name: Batch Processing Api
    description: |
      Batch processing uses the Batch and Instalment Service (BIS) which allows for transaction processing against cardholder 
      accounts using a dynamic batch file. For merchants who process on schedules and dynamic amounts, the service allows for 
      the presentation of cardholder account references and transaction requirements to run as a scheduled batch.
  - name: Card Holder Account Api
    description: |
      A cardholder account models a cardholder and can register 1 or more cards for tokenised charging. 
      
      The account offers a credential on file option to the CityPay gateway allowing for both cardholder initiated and 
      merchant initiated transaction processing.
      
      This can include unscheduled or scheduled transactions that can be requested through this API and include batch 
      processing options.
  - name: Direct Post Api
    description: |
      The Direct Post Method for e-commerce payment is generally used by merchants that require more control over their
      payment form “look and feel” and can understand and implement the extra PCI DSS security controls that are required to
      protect their systems.
      
      The Direct Post Method uses the merchant’s website to generate the shopping cart and payment web pages. The merchant’s
      payment form, loaded in the customer’s browser, sends the cardholder data directly to CityPay’s API, ensuring cardholder
      data is not stored, processed, or transmitted via the merchant systems. The payment form, however, is provided by the
      merchant. The merchant’s systems are therefore in scope for additional PCI DSS controls, which are necessary to protect
      the merchant website against malicious individuals changing the form and capturing cardholder data.
      
      ### Direct Post Flow
      
      #### Simple Authorisation Flow
      
      The merchant’s website creates the payment page.
      
      1. The customer’s browser displays the payment page and posts the cardholder data directly to CityPay as a url-encoded
         payment form.
      2. CityPay receives the cardholder data and sends it for online authorisation, handling any ThreeDSecure authorisation
         challenges
      3. The merchant receives a HTTP 303 redirect, containing the result of the transaction as query parameters
      
      <img src="../../images/direct-post-flow.png" width="600" />
      
      #### Tokenisation Authorisation Flow
      
      The merchant’s website creates the payment page.
      
      1. The customer’s browser displays the payment page and posts the cardholder data directly to CityPay as a url-encoded
         payment form.
      2. CityPay receives the cardholder data and processes any ThreeDSecure authorisation and challenges.
      3. The merchant receives a HTTP `303` redirect containing the card details tokenised for consequential processing
      4. Once final confirmation is agreed at checkout, the generated token is forward to CityPay for realtime authorisation.
         This may by using HTTP redirects in a direct manner, or via an api level call
      
      #### Handling Redirects
      
      The direct post method uses HTTP `303` redirects to return data to your system. A `303` redirect differs to conventional 301
      or `302` redirects by telling the browser to not resend data if refresh is pressed.
      
      Payments should be developed to cater for failure. Transactions may not complete authorisation at the challenge stage or
      decline either due to insufficient funds or transient network conditions. To ensure correct payment flow, the direct
      post API requires
      
      1. a `redirectSuccess` url. This is used to forward the result of authorisation.
      2. a `redirectFailure` url. This is used to forward any errors that are due to invalid requests or payment failures.
      
      #### Domain Keys
      
      To allow for processing of transactions in a direct manner, CityPay provide domain keys. This value is provided on the
      initial direct post call and must be run on a pre-registered host. Our validation processes will check the `Origin` or
      `Referer`   HTTP headers to ensure that the domain keys are valid. A domain key can be registered for 1 or more domains.
  - name: Operational Functions Api
    description: Operations that are for operational purposes only such as checking connectivity to the API.
  - name: Paylink Api
    description: |
      CityPay Paylink makes online e-commerce easier to implement by handling the card payment process directly with the cardholder's browser and CityPay's payment processing servers, allowing you to concentrate on your business whilst allowing us to manage the payment process.
      
      0. Simplified payment solutions.
      0. payment processing is handled by our secure web servers adding security and confidence to your shoppers.
      0. 3D-Secure authentication is available within the application without any difficult MPI integration, allowing for immediate Verified by Visa and MasterCard SecureCode processing.
      0. customisation may be performed on the secure payment form.
      0. significantly reduced technical and financial overheads associated with software implementation and PCI compliance.
      1. reduced time-to-market.
      
      The CityPay API offers embedded end-point calls to Paylink offering advanced features of generated tokens.
      
      For further information on Paylink see [Paylink Online Documentation](https://citypay.github.io/api-docs/paylink).

#--------------------------------------------------------------------------------
#                                    Paths                                     
#--------------------------------------------------------------------------------

paths:
  /direct/auth: 
    post: 
      summary: Direct Post Auth Request
      tags: 
        - Direct Post Api
      operationId: DirectPostAuthRequest
      description: |
        Used to initiate a direct post request transaction flow.
        
        <pre class="inline-code language-bash">
        <code>
        curl https://api.citypay.com/direct/auth?cp-domain-key=n834ytqp84y... \
         -d "amount=7500&identifier=example_trans&cardnumber=4000000000000002&expmonth=9&expyear=2028&bill_to_postcode=L1+7ZW
        </code>
        </pre>.
      security: 
      - cp-api-key: []
      - cp-domain-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/DirectPostRequest'
          application/x-www-form-urlencoded: 
            schema: 
              $ref: '#/components/schemas/DirectPostRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/DirectPostRequest'
      responses: 
        200: 
          description: A result of a successful tokenisation or authorisation process if called via an XHR method.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
            application/xml: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        303: 
          description: Redirect. A result of a successful tokenisation or authorisation process, redirecting to the success URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        307: 
          description: Redirect. A result of a non-successful tokenisation or authorisation process, redirecting to the failure URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
        401: 
          description: Unauthorized. No domain key has been provided and is required for this operation.
        403: 
          description: Forbidden. The domain key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        406: 
          description: Not Acceptable. Should the incoming data not be validly determined.
        412: 
          description: Bad Request. Should the incoming data not be validly determined and an error code results.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. Server Error. The server was unable to complete the request.

  /direct/cres/auth/{uuid}: 
    post: 
      summary: Handles a CRes response from ACS, returning back the result of authorisation
      tags: 
        - Direct Post Api
      operationId: DirectCResAuthRequest
      parameters: 
        - name: uuid
          in: path
          required: true
          description: An identifier used to track the CReq/CRes cycle.
          schema: 
            type: string
      description: |
        Used to post from an ACS during a ThreeDSecure direct flow process. The endpoint requires a valid `threeDSSessionData`
        value which defines the unique transaction through its workflow. This endpoint may be used by merchants wishing to
        perform a `Direct Post` integration who wish to handle the challenge flow themselves.
      requestBody: 
        required: true
        content: 
          application/x-www-form-urlencoded: 
            schema: 
              $ref: '#/components/schemas/CResDirect'
      responses: 
        200: 
          description: A result of a successful tokenisation or authorisation process if called via an XHR method.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
            application/xml: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        303: 
          description: Redirect. A result of a successful tokenisation or authorisation process, redirecting to the success URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        307: 
          description: Redirect. A result of a non-successful tokenisation or authorisation process, redirecting to the failure URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
        401: 
          description: Unauthorized. No domain key has been provided and is required for this operation.
        403: 
          description: Forbidden. The domain key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        406: 
          description: Not Acceptable. Should the incoming data not be validly determined.
        412: 
          description: Bad Request. Should the incoming data not be validly determined and an error code results.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. Server Error. The server was unable to complete the request.

  /direct/cres/tokenise/{uuid}: 
    post: 
      summary: Handles a CRes response from ACS, returning back a token for future authorisation
      tags: 
        - Direct Post Api
      operationId: DirectCResTokeniseRequest
      parameters: 
        - name: uuid
          in: path
          required: true
          description: An identifier used to track the CReq/CRes cycle.
          schema: 
            type: string
      description: |
        Used to post from an ACS during a ThreeDSecure direct flow process. The endpoint requires a valid `threeDSSessionData`
        value which defines the unique transaction through its workflow. This endpoint may be used by merchants wishing to
        perform a `Direct Post` integration who wish to handle the challenge flow themselves.
      requestBody: 
        required: true
        content: 
          application/x-www-form-urlencoded: 
            schema: 
              $ref: '#/components/schemas/CResDirect'
      responses: 
        200: 
          description: A result of a successful tokenisation or authorisation process if called via an XHR method.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/TokenisationResponseModel'
            application/xml: 
              schema: 
                $ref: '#/components/schemas/TokenisationResponseModel'
        303: 
          description: Redirect. A result of a successful tokenisation or authorisation process, redirecting to the success URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/TokenisationResponseModel'
        307: 
          description: Redirect. A result of a non-successful tokenisation or authorisation process, redirecting to the failure URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
        401: 
          description: Unauthorized. No domain key has been provided and is required for this operation.
        403: 
          description: Forbidden. The domain key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        406: 
          description: Not Acceptable. Should the incoming data not be validly determined.
        412: 
          description: Bad Request. Should the incoming data not be validly determined and an error code results.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. Server Error. The server was unable to complete the request.

  /direct/token: 
    post: 
      summary: Direct Post Token Request
      tags: 
        - Direct Post Api
      operationId: TokenRequest
      description: |
        Perform a request for authorisation for a previously generated token. This flow will return an authorisation
        response stating that the transaction was approved or declined.
      security: 
      - cp-api-key: []
      - cp-domain-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/DirectTokenAuthRequest'
          application/x-www-form-urlencoded: 
            schema: 
              $ref: '#/components/schemas/DirectTokenAuthRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/DirectTokenAuthRequest'
      responses: 
        200: 
          description: A result of an authorisation process if called via an XHR method.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
            application/xml: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        303: 
          description: Redirect. A result of a successful tokenisation or authorisation process, redirecting to the success URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        307: 
          description: Redirect. A result of a non-successful tokenisation or authorisation process, redirecting to the failure URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
        401: 
          description: Unauthorized. No domain key has been provided and is required for this operation.
        403: 
          description: Forbidden. The domain key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        406: 
          description: Not Acceptable. Should the incoming data not be validly determined.
        412: 
          description: Bad Request. Should the incoming data not be validly determined and an error code results.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'

  /direct/tokenise: 
    post: 
      summary: Direct Post Tokenise Request
      tags: 
        - Direct Post Api
      operationId: DirectPostTokeniseRequest
      description: |
        Used to initiate a direct post request transaction flow.
        
        <pre class="inline-code language-bash">
        <code>
        curl https://api.citypay.com/v6/direct?cp-domain-key=n834ytqp84y... \
         -d "amount=7500&identifier=example_trans&cardnumber=4000000000000002&expmonth=9&expyear=2028&bill_to_postcode=L1+7ZW
        </code>
        </pre>.
      security: 
      - cp-api-key: []
      - cp-domain-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/DirectPostRequest'
          application/x-www-form-urlencoded: 
            schema: 
              $ref: '#/components/schemas/DirectPostRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/DirectPostRequest'
      responses: 
        200: 
          description: A result of a successful tokenisation or authorisation process if called via an XHR method.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
            application/xml: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        303: 
          description: Redirect. A result of a successful tokenisation or authorisation process, redirecting to the success URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/AuthResponse'
        307: 
          description: Redirect. A result of a non-successful tokenisation or authorisation process, redirecting to the failure URL.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
        401: 
          description: Unauthorized. No domain key has been provided and is required for this operation.
        403: 
          description: Forbidden. The domain key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        406: 
          description: Not Acceptable. Should the incoming data not be validly determined.
        412: 
          description: Bad Request. Should the incoming data not be validly determined and an error code results.
          content: 
            application/x-www-form-urlencoded: 
              schema: 
                $ref: '#/components/schemas/Error'
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. Server Error. The server was unable to complete the request.

  /dk/check: 
    post: 
      summary: Domain Key Check Request
      tags: 
        - Operational Functions Api
      operationId: DomainKeyCheckRequest
      description: |
        Checks the contents of a `domain key`. Can be used for operational processes to ensure that the properties of a 
        domain key meet their expectations.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/DomainKeyCheckRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/DomainKeyCheckRequest'
      responses: 
        200: 
          description: A checked domain key.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/DomainKeyResponse'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/DomainKeyResponse'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /dk/gen: 
    post: 
      summary: Domain Key Generation Request
      tags: 
        - Operational Functions Api
      operationId: DomainKeyGenRequest
      description: |
        Generates a domain key based on the permissions of the calling `api-key`. Domain keys can be used in _Direct Post_ and
        `XHR` calls to the API services.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/DomainKeyRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/DomainKeyRequest'
      responses: 
        200: 
          description: A generated domain key.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/DomainKeyResponse'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/DomainKeyResponse'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /paylink/bill-payment: 
    post: 
      summary: Create Bill Payment Paylink Token
      tags: 
        - Paylink Api
      operationId: TokenCreateBillPaymentRequest
      description: |
        CityPay Paylink supports invoice and bill payment services by allowing merchants to raise an invoice in their systems and
        associate the invoice with a Paylink checkout token. CityPay will co-ordinate the checkout flow in relationship with
        your customer. Our bill payment solution may be used to streamline the payment flow with cardholders to allow your
        invoice to be paid promptly and via multiple payment channels such as Card Payment, Apple Pay or Google Pay.
        
        The bill payment service allows
        
        1. setting up notification paths to an end customer, such as SMS or Email
        2. enabling attachments to be included with Paylink tokens
        3. produce chaser notifications for unpaid invoices
        4. provide callbacks for notification of the payment of an invoice
        5. support part payments against an invoice
        6. support of field guards to protect the payment screen
        7. support of status reporting on tokens
        8. URL short codes for SMS notifications
        
        <img src="../images/merchant-BPS-workflow.png" alt="Paylink BPSv2 Overview" width="50%"/> 
        
        
        ### Notification Paths
        
        Notification paths can be provided which identify the channels for communication of the invoice availability.
        Up to 3 notification paths may be provided per request.
        
        Each notification uses a template to generate the body of the message. This allows for variable text to be sent out and
        customised for each call.
        
        SMS messages use URL Short Codes (USC) as a payment link to the invoice payment page. This allows for a standard payment
        URL to be shortened for optimised usage in SMS. For instance a URL of `https://checkout.citypay.com/PL1234/s348yb8yna4a48n2f8nq2f3msgyng-psn348ynaw8ynaw/en`
        becomes `citypay.com/Za48na3x`. Each USC is unique however it is a requirement that each USC generated is protected
        with Field Guards to ensure that sensitive data (such as customer contact details and GDPR) is protected.
        
        To send a notification path, append a `notification-path` property to the request.
        
        ```json
         {
          "sms_notification_path": {
              "to": "+441534884000"
          },
          "email_notification_path": {
              "to": ["help-desk@citypay.com"],
              "cc": ["third-party@citypay.com"],
              "reply": ["help@my-company.com"]
          }
        }
        ```
        
        Notification paths trigger a number of events which are stored as part of the timeline of events of a Paylink token
        
        - `BillPaymentSmsNotificationQueued` - identifies when an SMS notification has been queued for delivery
        - `BillPaymentSmsNotificationSent` - identifies when an SMS notification has been sent to the upstream network
        - `BillPaymentSmsNotificationDelivered` - identifies when an SMS notification has been delivered as notified by the upstream network
        - `BillPaymentSmsNotificationUndelivered` - identifies when an SMS notification has undelivered notification is provided by the upstream network
        - `BillPaymentSmsNotificationFailure` - identifies when an SMS notification has failed
        - `BillPaymentEmailNotificationQueued` -  identifies when an email notification has been queued for delivery
        - `BillPaymentEmailNotificationSent` -  identifies when an email notification has been accepted by our SMS forwarder
        - `BillPaymentEmailNotificationFailure` - identifies when an email notification has failed delivery
        
        
        #### SMS Notification Path
        
        SMS originated from a CityPay pool of numbers and by default only sends to country codes where the service is registered.
        SMSs may contain a From field which is configured as part of you onboarding and have a name associated to identify the service
        origin. For example if your business is titled `Health Surgery Ltd` the SMS may be sent to originate from `Health Surgery`. 
        
        SMS is also configured for a "polite mode". This mode ensures that SMSs aren't sent in the middle of the night when backend
        services ordinarily run. SMSs will be queued until the time range is deemed as polite. Normally this is between 8am and 9pm.
        
        | Field    | Type     | Usage    | Description                                                                                     |
        |----------|----------|----------|-------------------------------------------------------------------------------------------------|
        | template | string   | Reserved | An optional template name to use a template other than the default.                             |
        | to       | string   | Reserved | The phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format to send the message to. |
        
        #### Email Notification Paths
        
        | Field    | Type     | Usage    | Description                                                                                     |
        |----------|----------|----------|-------------------------------------------------------------------------------------------------|
        | template | string   | Reserved | An optional template name to use a template other than the default.                             |
        | to       | string[] | Required | An array of email addresses to be used for delivery. A maximum of 5 addresses can be added.     |
        | cc       | string[] | Required | An array of email addresses to be used for cc delivery. A maximum of 5 addresses can be added.  |
        | bcc      | string[] | Required | An array of email addresses to be used for bcc delivery. A maximum of 5 addresses can be added. |
        | reply_to | string[] | Required | An array of email addresses to be used for the Reply-To header of an email.     |
        
        
        ### Field Guards
        
        To ensure that invoices are paid by the intended recipient, Paylink supports the addition of Field Guards.
        
        A Field Guard is an intended field which is to be used as a form of guarded authentication. More than 1 field can be
        requested.
        
        <img src="../images/paylink-field-guards.png" alt="Paylink Field Guards" width="50%"/>
        
        To determine the source value of the field, each field name is searched in the order of
        
        - identifier
        - cardholder data such as name
        - custom parameters
        - pass through data
        
        If no field values are found, the token request returns a D041 validation error.
        
        #### Authentication and Validation
        
        When values are entered by the user, resultant comparisons are performed by
        
        1. Transliteration of both the source value and entered value. For example, names with accents (e.g. é will become e)
        2. Only Alphanumeric values are retained any whitespace or special characters are ignored
        3. Case is ignored
        
        Should all values match, the user is authenticated and can continue to the payment form rendered by the Paylink server.
        
        On successful login, an event will be added to include that the access guard validated access.
        
        #### Access-Key
        
        To ensure that a user does not need to re-enter these values multiple times, a cookie is pushed to the user’s
        browser with an access-key digest value. This value will be presented to the server on each refresh therefore
        allowing the guard to accept the call. Each value is uniquely stored per merchant account and cannot be shared cross
        merchant. The lifetime of the cookie is set to 24 hours.
        
        #### Brute Force Prevention
        
        To prevent multiple calls hitting the server, attempting a brute force attack, the login process
        
        1. is fronted by a contemporary web application firewall
        2. creates an event for each token when access was denied
        3. should the number of failed events breach more than 5 in 30 minutes, the token is locked for an hour
        4. should the number of events breach more than 20 the token is fully locked
        
        ### Attachments
        
        Attachments can be included in the request in 2 ways
        
        1. Via a data element direct in the request
        2. Via a URL upload to a provided pre-signed URL
        
        The decision of which option is dependent on the size of the attachments. Should the attachment size be greater than
        32kb a URL upload is required. Small attachments can be included in the JSON request. This is to prevent our web
        firewall from blocking your request and to also ensure efficiency of larger file uploads.
        
        There is a maximum of 3 attachments that can be added to a request.
        
        ```json
            [{
              "filename": "invoice1.pdf",
              "mime-type": "application/pdf"
            },{
              "filename": "invoice2.pdf",
              "data": "b4sE64Enc0dEd...=",
              "mime-type": "application/pdf"
            }]
        ```
        
        | Field     | Type   | Usage    | Description                                                                                                                                          |
        |-----------|--------|----------|------------------------------------------------------------------------------------------------------------------------------------------------------|
        | filename  | string | Required | The name of the attachment normally taken from the filename. You should not include the filename path as appropriate                                 |
        | data      | string | Optional | base64 encoding of the file if less than 32kb in size                                                                                                |
        | mime-type | string | Required | The mime type of the attachment as defined in [RFC 9110](https://www.rfc-editor.org/rfc/rfc9110.html). Currently only `application/pdf` is supported |
        
        
        #### Attachment Result
        
        A result of an attachment specifies whether the attachment was successfully added or whether a further upload is requried
        
        | Field  | Type   | Usage    | Description                                                                                                                                       |
        |--------|--------|----------|---------------------------------------------------------------------------------------------------------------------------------------------------|
        | result | string | Required | `OK` should the file have uploaded or `UPLOAD` if the file is required to be uploaded.                                                            |
        | name   | string | Required | The filename that was specified in the upload process                                                                                             |
        | url    | string | Optional | Should an upload be required, this URL is available for an upload to be issued. The URL is only available for uploads for 24 hours from creation. |
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/PaylinkBillPaymentTokenRequest'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/PaylinkBillPaymentTokenRequest'
      responses: 
        200: 
          description: Response defining the result of the token request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/PaylinkTokenCreated'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/PaylinkTokenCreated'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /paylink/create: 
    post: 
      summary: Create Paylink Token
      tags: 
        - Paylink Api
      operationId: TokenCreateRequest
      description: Creates a Paylink token from the CityPay API.
      security: 
      - cp-api-key: []
      requestBody: 
        required: true
        content: 
          application/json: 
            schema: 
              $ref: '#/components/schemas/PaylinkTokenRequestModel'
          text/xml: 
            schema: 
              $ref: '#/components/schemas/PaylinkTokenRequestModel'
      responses: 
        200: 
          description: Response defining the result of the token request.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/PaylinkTokenCreated'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/PaylinkTokenCreated'
        400: 
          description: Bad Request. Should the incoming data not be validly determined.
        401: 
          description: Unauthorized. No api key has been provided and is required for this operation.
        403: 
          description: Forbidden. The api key was provided and understood but is either incorrect or does not have permission to access the account provided on the request.
        422: 
          description: Unprocessable Entity. Should a failure occur that prevents processing of the API call.
          content: 
            application/json: 
              schema: 
                $ref: '#/components/schemas/Error'
            text/xml: 
              schema: 
                $ref: '#/components/schemas/Error'
        500: 
          description: Server Error. The server was unable to complete the request.

  /paylink/token/changes: 
    post: 
      summary: Paylink Token Audit
      tags: 
        - Paylink Api
      operationId: TokenChangesRequest
